<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </appenders>
    <loggers>
        <logger name="com.sanjusto" level="INFO" additivity="false">
            <appender-ref ref="Console" />
        </logger>
        <root level="INFO">
            <appender-ref ref="Console" />
        </root>
        <logger name="org.hibernate.SQL" additivity="false">
            <level value="INFO" />
            <appender-ref ref="Console" />
        </logger>

        <logger name="org.hibernate.type" additivity="false">
            <level value="INFO" />
            <appender-ref ref="Console" />
        </logger>
    </loggers>
</configuration>