<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    http://www.springframework.org/schema/jdbc
    http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd">

    <context:component-scan base-package="com.crm.controllers" />

    <mvc:annotation-driven />
    <context:annotation-config />

    <!-- ************************** Security Configuration ************************************ -->
    <bean name="tokenEncoder" class="com.crm.services.impl.TokenEncoder">
        <property name="signingKey">
            <bean class="java.lang.String">
                <constructor-arg>
                    <bean class="org.springframework.util.FileCopyUtils"
                        factory-method="copyToByteArray">
                        <constructor-arg
                            value="classpath:com/crm/security/certificates/id_rsa"
                            type="java.io.InputStream" />
                    </bean>
                </constructor-arg>
            </bean>
        </property>
        <property name="verifierKey">
            <bean class="java.lang.String">
                <constructor-arg>
                    <bean class="org.springframework.util.FileCopyUtils"
                        factory-method="copyToByteArray">
                        <constructor-arg
                            value="classpath:com/crm/security/certificates/id_rsa.pub"
                            type="java.io.InputStream" />
                    </bean>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <!-- ************************** Spring Data Configuration ************************************ -->
    <bean id="dataSourceCrm" class="com.mchange.v2.c3p0.ComboPooledDataSource" >
      <property name="driverClass" value="org.h2.Driver"/>
      <property name="jdbcUrl" value="jdbc:h2:mem:CRM;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;INIT=DROP SCHEMA IF EXISTS CRM\; CREATE SCHEMA CRM\;SET SCHEMA CRM\;runscript from 'classpath:testDb.sql'" />
    </bean>

    <!-- Directory to scan for repository classes -->
    <jpa:repositories base-package="com.crm.data.repositories"
        transaction-manager-ref="crmTransactionManager" />



    <bean id="hibernateJpaAdapter"
        class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
            <property name="showSql" value="false" />
            <property name="generateDdl" value="false" />
            <property name="database" value="MYSQL" />
    </bean>

    <bean id="entityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSourceCrm" />
        <property name="jpaVendorAdapter" ref="hibernateJpaAdapter"/>
        <property name="persistenceUnitPostProcessors">
            <list>
                <bean
                    class="org.springframework.data.jpa.support.ClasspathScanningPersistenceUnitPostProcessor">
                    <constructor-arg value="com.crm.data.model" />
                    <property name="mappingFileNamePattern" value="com/crm/data/*.hbm.xml" />
                </bean>
            </list>
        </property>
    </bean>


    <bean id="crmTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <tx:annotation-driven transaction-manager="crmTransactionManager" />

    <bean id="serviceFactory" class="com.crm.services.impl.ServiceFactory">
        <lookup-method name="getSecurityService" bean="securityService" />
        <lookup-method name="getTreatmentService" bean="treatmentService" />
    </bean>

    <bean id="securityService" class="com.crm.services.impl.SecurityServiceImpl"
        scope="prototype" />

    <bean id="treatmentService" class="com.crm.services.impl.TreatmentServiceImpl"
        scope="prototype" />

</beans>