<div id="activity-feed" class="filters form-group hide">
	<div id="homeSection" style="display:none" class="hide">
		<label>Sort by:</label>
		<select id="homeSortSelect" class="form-control" style="width:25%;">
			<option value="0">Newest</option>
			<option value="1">Oldest</option>
		</select>
	</div>
	<div id="profileSection" style="display:none">
		<label>Filter by:</label>
		<select id="profileFilterSelect" class="form-control" style="width:25%;">
			<option value="0">All</option>
			<option value="1">Sent</option>
			<option value="2">Received</option>
		</select>
		<label style="padding-left:25px">Sort by:</label>
		<select id="profileSortSelect" class="form-control" style="width:25%;">
			<option value="0">Newest</option>
			<option value="1">Oldest</option>
		</select>
	</div>
</div>
<a id="moreActivitiesButton" style="cursor: pointer;" class="more-stories hide" style="display: none;">Load more stories</a>
<div class="modal fade" id="likesModal" tabindex="-1" role="dialog" aria-labelledby="likesModal" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">			 
			<div class="modal-body" id="likesModalContent"></div>
	</div>
	</div>
</div>
