<li>
	<? if(model.star.id == null || model.star.id <= 0) {
			if(model.star.counter>=10) {
	?>		
		<a id="star-link-<?=model.star.id?>" class="ico-star">
			<img id="star-<?=model.star.id?>" src="<?=model.star.imageUrl?>" alt="" style="width: 60px" />
		</a>
		<h4 class="tit-icostar" style="color: lightgrey" data-i18n="[html]translation:admin.mainStarPage.starsLimit">u can't add more than 10 Stars</h4>		
		<div class="btn-group edit-group" role="group" aria-label="">					
			<button id="btnCreate" type="button" class="btn btn-default disabled" data-toggle="modal"
				data-id='<?=model.star.id?>' data-target="#editStarModal" data-i18n="[html]translation:admin.mainStarPage.createStar">Create</button>				
		</div>
	<?} else {?>
		<a href="#" id="star-link-<?=model.star.id?>" class="ico-star" data-toggle="modal"	data-id='<?=model.star.id?>' data-target="#editStarModal">
			<img id="star-<?=model.star.id?>" src="<?=model.star.imageUrl?>" alt="" style="width: 60px" />
		</a>
		<h4 class="tit-icostar"><?=model.star.name?></h4>		
		<div class="btn-group edit-group" role="group" aria-label="">			
			<button id="btnCreate" type="button" class="btn btn-default" data-toggle="modal"
				data-id='<?=model.star.id?>' data-target="#editStarModal" data-i18n="[html]translation:admin.mainStarPage.createStar">Create</button>				
		</div>	
	<? }}else if(model.star.enabled) {?>	
		<a href="#" id="star-link-<?=model.star.id?>" class="ico-star" data-toggle="modal"	data-id='<?=model.star.id?>' data-target="#editStarModal">
			<img id="star-<?=model.star.id?>" src="<?=model.star.imageUrl?>" alt="" style="width: 60px" />
		</a>
		<h4 class="tit-icostar"><?=model.star.name?></h4>		
		<div class="btn-group edit-group" role="group" aria-label="">
			<button type="button" class="btn btn-default" data-toggle="modal"
				data-id='<?=model.star.id?>' data-target="#editStarModal" data-i18n="[html]translation:admin.mainStarPage.editStar">Edit</button>			
			<button type="button" class="btn btn-default js-disable-star" data-id="<?=model.star.id?>" data-i18n="[html]translation:admin.mainStarPage.disableStar">Disable</button>					
		</div>
	
	<?} else {?>
		<a href="#" id="star-link-<?=model.star.id?>" class="ico-star" data-toggle="modal"	data-id='<?=model.star.id?>' data-target="#editStarModal">
			<img id="star-<?=model.star.id?>" src="<?=model.star.imageUrl?>" alt="" style="width: 60px" />
		</a>
		<h4 class="tit-icostar"><?=model.star.name?></h4>	
		<div class="btn-group edit-group" role="group" aria-label="">
			<button type="button" class="btn btn-default" data-toggle="modal"
				data-id='<?=model.star.id?>' data-target="#editStarModal" data-i18n="[html]translation:admin.mainStarPage.editStar">Edit</button>			
			<button id="btnEnable" type="button" class="btn btn-default js-enable-star" data-id="<?=model.star.id?>" data-i18n="[html]translation:admin.mainStarPage.enableStar">Enable</button>					
		</div>
	<?}?>	
		
</li>
