<div class="modal fade admin-modal" id="<?=model.prefix?>Modal" tabindex="-1" role="dialog" aria-labelledby="<?=model.prefix?>Modal" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">			  
			  <h3 id="<?=model.prefix?>ModalTitle">Edit Star</h3>
			  </div>
			  <div class="modal-body" id="<?=model.prefix?>ModalBody">			  
			  <!-- editStarModal-template.html -->			  						
			  </div>
			    <div class="upload-star" style="padding-bottom: 20px; padding-right: 15px;">
			        <p class="modal-error-message" id="<?=model.prefix?>ModalErrorMessage">Error Message</p>
			        <a href="#" class="btn btn-default btn-save" id="<?=model.prefix?>ModalAcceptButton" data-i18n="[html]translation:admin.createStarPopUp.save" >Save</a>
				  	<a href="#" class="btn-cancel" data-dismiss="modal" id="<?=model.prefix?>ModalCancelButton" data-i18n="[html]translation:admin.createStarPopUp.cancel" >Cancel</a>
				</div>			  			  
			</div>
		  </div>
</div>