<section class="container">
<div id="adminPanelStar" class="col-lg-12 box-addStars">
	<div class="col-lg-6 box-enable">
	<h2 data-i18n="[html]translation:admin.mainStarPage.enabledStars">Enabled Stars</h2>
		<ul id="enabledStarView">
			
		</ul>
	</div>		
	<div class="col-lg-6 box-disable">
	<h2 data-i18n="[html]translation:admin.mainStarPage.disabledStars">Disabled Stars</h2>
		<ul id="disabledStarView">
				
		</ul>
	</div>
	<div class="col-lg-12 separador hide">
		<div class="export-button">
			<a id="exportStarsToCsv" href="#" title="Save" 
			data-i18n="[html]translation:admin.mainStarPage.exportStarsReport">Exports Stars Report</a>
		</div>
	</div><!-- col-lg-12 -->	
</div>
</section>

