<section class="dashboard-wrapper col-md-12">
    <h2 data-i18n="[html]translation:analytics.totalStarSent">Total Stars Sent</h2>
    <div class="row">
    	<div class="col-lg-12">			
			<div id="chart-starsPerMonth">
	       	<!--svg chart-->
	       </div>		       
		</div><!-- col lg 12 -->
	</div><!-- row -->	
</section><!--Number of stars per month section -->
<section class="dashboard-wrapper col-md-12">
    <h2 data-i18n="[html]translation:analytics.peopleGiveStar">Number of people who gave a star</h2>   
    <div class="row">
    	<div class="col-lg-12">			
			<div id="chart-peopleGaveStar">
	       	<!--svg chart-->
	       </div>		       
		</div><!-- col lg 12 -->
	</div><!-- row -->	
</section><!--Number of people who gave a star section -->
<section class="dashboard-wrapper col-md-12">
    <h2 data-i18n="[html]translation:analytics.starsPerPlataform">Stars gave per Plataform</h2>
    <div class="row">
    	<div class="col-lg-12">			
			<div id="chart-starsPerPlataform">
	       	<!--svg chart-->
	       </div>		       
		</div><!-- col lg 12 -->
	</div><!-- row -->	
</section><!--Stars gave per Plataform section -->
<section class="dashboard-wrapper col-md-12">
    <h2 data-i18n="[html]translation:analytics.likesAndComments">Likes and Comments per star</h2>
    <div class="row">
    	<div class="col-lg-12">			
			<div id="chart-likesAndComments">
	       	<!--svg chart-->
	       </div>		       
		</div><!-- col lg 12 -->
	</div><!-- row -->	
</section><!--Likes and Comments per star section -->
<section class="dashboard-wrapper col-md-12">
    <h2 data-i18n="[html]translation:analytics.activeUsers">Active users</h2>
    <div class="row">
    	<div class="col-lg-12">			
			<div id="chart-activeUsers">
	       	<!--svg chart-->
	       </div>		       
		</div><!-- col lg 12 -->
	</div><!-- row -->	
</section><!--Likes and Comments per star section -->