<div class="col-lg-3">
<span data-i18n="[html]translation:analytics.filter.timeScale.title">Select a time scale</span>
<select name="timeScale" id="timeScaleFilter">
	<option value="WEEK" data-i18n="[html]translation:analytics.filter.timeScale.week">Week</option>
	<option value="MONTH" data-i18n="[html]translation:analytics.filter.timeScale.month" selected>Month</option>
    <option value="QUARTER" data-i18n="[html]translation:analytics.filter.timeScale.quarter">Quarter</option>     
</select>
</div>
<div class="col-md-3 counter" style="margin-bottom: 10px;height: 112px;">
<nav>
	<h4 data-i18n="[html]translation:analytics.filter.counter1">Active Users Counter</h4>
	<?if(model.totalActiveUsers && model.totalActiveUsers.length > 0){?>
	<ul id="totalStarCount" class="pagination">
		<?_.each(model.totalActiveUsers, function(opt){?>
		<li><span aria-label="Next" aria-hidden="true">
				<?=opt?>
		</span></li>
		<?});?>
	</ul>
	<?}?>
</nav>	
</div>
<div class="col-md-3 counter" style="margin-bottom: 10px; height: 112px;">
<nav>
	<h4 data-i18n="[html]translation:analytics.filter.counter2">Users with a profile picture</h4>
	<?if(model.totalUsersWPictures.values && model.totalUsersWPictures.values.length > 0){?>
	<ul id="totalStarCount" class="pagination">
		<?_.each(model.totalUsersWPictures.values, function(opt){?>
		<li><span aria-label="Next" aria-hidden="true">
				<?=opt?>
		</span></li>
		<?});?>	
	<?}?>
	<?if(model.totalUsersWPictures.percentage && model.totalUsersWPictures.percentage.length > 0){?>
	<span style="padding-left: 10px;"><?=model.totalUsersWPictures.percentage?>%</span>
	<?}?>
</nav>	
</div>
<div class="col-md-3 counter" style="margin-bottom: 10px; height: 112px;">
<nav>
	<h5 data-i18n="[html]translation:analytics.filter.counter3">Users who have not accepted the TOS</h5>
	<?if(model.totalUsersWTos.values && model.totalUsersWTos.values.length > 0){?>
	<ul id="totalStarCount" class="pagination">
		<?_.each(model.totalUsersWTos.values, function(opt){?>
		<li><span aria-label="Next" aria-hidden="true">
				<?=opt?>
		</span></li>
		<?});?>	
	<?}?>
	<?if(model.totalUsersWTos.percentage && model.totalUsersWTos.percentage.length > 0){?>
	<span style="padding-left: 10px;"><?=model.totalUsersWTos.percentage?>%</span>
	<?}?>
</nav>	
</div>