<div class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header col-lg-3">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a id ="goHome" class="navbar-brand iso" href="#">Starmeup</a>
    </div><!-- navbar-header -->
    <div id="navbar" class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
        <!-- Customer mode - nav buttoms hide -->
            <!--
               <ul class="nav navbar-nav">                    
                    <li class="active"><a href="#" class="meHome"><i class="fa fa-home fa-1x" ></i>Home</a></li>                                     
                </ul> 
            -->               
            <ul class="nav navbar-nav navbar-right icovar">                    
                <li id="languageList" class="dropdown configuration">

                </li>                    
                <!--<li id="settingListId" class="dropdown configuration">
                    <a href="#" class="dropdown-toggle ico-configuration" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-cog fa-1x"></i><span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">                            
                            <li><a href="#" class="hide" data-i18n="[html]translation:home.dropdown-menu.help">Help</a></li>
                            <li><a href="#logout" data-i18n="[html]translation:home.dropdown-menu.logout">Logout</a></li>
                        </ul>
                    </li>
                    -->                    
                </ul>                
            </div>
        </div>
    </nav>
</div><!-- container -->
</div><!-- navbar-wrapper -->
<div id="bodyContainer"  class="row">              
    <section id="galaxySection" class="container margin-box give-star-globes">            
    </section> 
    <section id="giveStarSection" class="container give-star-globes">            
    </section>           
</div>
