<div class="container-fluid">
    <table class="table-responsive table" id="dataTable">
        <thead>
            <tr>
                <th data-i18n="[html]translation:customers.id">Id</th>
                <th data-i18n="[html]translation:customers.name">Name</th>
                <th data-i18n="[html]translation:customers.address">Address</th>
                <th data-i18n="[html]translation:customers.neighborhood">Neighborhood</th>
                <th data-i18n="[html]translation:customers.email">Email</th>
                <th data-i18n="[html]translation:customers.phone">Phone</th>
            </tr>
        </thead>
        <tbody>
            <?_.each(model.customers, function(customer, index){?>
            <tr>
                <td><?=customer.id?></td>
                <td><?=customer.name?></td>
                <td><?=customer.address?></td>
                <td><?=customer.neighborhood?></td>
                <td><?=customer.email?></td>
                <td><?=customer.phone?></td>
            </tr>
            <?});?>
        </tbody>
    </table>
    <table class="table-responsive">
        <tbody>
            <tr>
                <?
                _.each(model.pagesSelector, function(element) {
                    if (element > 0 && element) {
                    if (element-1 == model.currentPage) {?>
                        <td><span><strong><a href="#" data-id="<?=element-1?>" class="btn-toolbar btn-group-lg btn-lg js-click-page"> <?=element?></a></strong></span></td>
                    <?} else {?>
                        <td><span><a href="#" data-id="<?=element-1?>" class="btn-toolbar btn-group-lg btn-lg js-click-page"> <?=element?></a></span></td>
                    <?}}});?>
            </tr>
        </tbody>
    </table>

</div>