<section id="dashBoardContent" class="dashboard-wrapper-top col-md-12">
	<h3 data-i18n="[html]translation:dashboard.template.dashboard">Dashboard</h3>
	<form class="form-inline filters" role="form">	
		<div class="form-group">
			<label for="date" data-i18n="[html]translation:dashboard.template.period">Period</label>
			<select name="star-type" id="dashBoardPeriod">
					<option value="0" data-i18n="[html]translation:dashboard.template.allTime">All time</option>
					<option value="1" data-i18n="[html]translation:dashboard.template.lastYear">Last year</option>
					<option value="2" data-i18n="[html]translation:dashboard.template.thisYear">This year</option>
					<option value="3" data-i18n="[html]translation:dashboard.template.lastMonth">Last month</option>
					<option value="4" selected data-i18n="[html]translation:dashboard.template.thisMonth">This Month</option>
			</select>
		</div>		
	</form>
	<div id="counterContainer" class="col-md-6 counter"></div>
</section>
