<!-- section values-wrapper col-md-12-->


    <section class="dashboard-wrapper col-md-12">
        <h2 data-i18n="[html]translation:dashboard.mostActiveUsers.title">Most active users</h2>
        <div class="row">
            <div id="topAwardedPersons" class="col-lg-6">
                <h3 data-i18n="[html]translation:dashboard.mostActiveUsers.starsReceived">Stars Received</h3>

                <div class="podio-container">
                    <? if(model.mostAwardedPersonWidget[0] != null){ ?>
                    <div class="usr-podio-container">
                        <div class="pic-podio"><a data-id="<?=model.mostAwardedPersonWidget[0].id?>" href="#"><img class="img-circle" src="<?=model.mostAwardedPersonWidget[0].profileImageId?>" alt=""></a></div>
                        <h4 class="truncate" style="width:100px;" title="<?=model.mostAwardedPersonWidget[0].firstName?> <?=model.mostAwardedPersonWidget[0].lastName?>"><?=model.mostAwardedPersonWidget[0].firstName?> <?=model.mostAwardedPersonWidget[0].lastName?></h4>
                        <h5 class="truncate" style="width: 100px;" title="<?=model.mostAwardedPersonWidget[0].job?>"><?=model.mostAwardedPersonWidget[0].job?></h5>
                    </div>
                    <div class="stat-container">
                        <div class="podium-first"></div>
                    </div>
                    <span class="star-counter"><?=model.mostAwardedPersonWidget[0].stars?></span>
                    <? } else{ ?>
                        <div class="usr-podio-container">
                            <div class="pic-podio"></div>
                            <h4></h4>
                            <h5></h5>
                        </div>
                        <div class="stat-container">
                            <div class="podium-first"></div>
                        </div>
                        <span class="star-counter">0</span>
                    <? } ?>
                </div><!-- podio-container -->

                <div class="podio-container">
                    <? if(model.mostAwardedPersonWidget[1] != null){ ?>
                    <div class="usr-podio-container">
                        <div class="pic-podio"><a data-id="<?=model.mostAwardedPersonWidget[1].id?>" href="#"><img class="img-circle" src="<?=model.mostAwardedPersonWidget[1].profileImageId?>" alt=""></a></div>
                        <h4 class="truncate" style="width:100px;" title="<?=model.mostAwardedPersonWidget[1].firstName?> <?=model.mostAwardedPersonWidget[1].lastName?>"><?=model.mostAwardedPersonWidget[1].firstName?> <?=model.mostAwardedPersonWidget[1].lastName?></h4>
                        <h5 class="truncate" style="width: 100px;" title="<?=model.mostAwardedPersonWidget[1].job?>"><?=model.mostAwardedPersonWidget[1].job?></h5>
                    </div>
                    <div class="stat-container" style="background-color:#ECAB69;">
                        <div class="podium-second" style="height:116px"></div>
                    </div>
                    <span class="star-counter"><?=model.mostAwardedPersonWidget[1].stars?></span>
                    <? } else{ ?>
                        <div class="usr-podio-container">
                            <div class="pic-podio"></div>
                            <h4></h4>
                            <h5></h5>
                        </div>
                        <div class="stat-container"  style="background-color:#ECAB69;">
                            <div class="podium-second" style="height:116px"></div>
                        </div>
                        <span class="star-counter">0</span>
                    <? } ?>
                </div><!-- podio-container -->

                <div class="podio-container">
                    <? if(model.mostAwardedPersonWidget[2] != null){ ?>
                    <div class="usr-podio-container">
                        <div class="pic-podio"><a data-id="<?=model.mostAwardedPersonWidget[2].id?>" href="#"><img class="img-circle" src="<?=model.mostAwardedPersonWidget[2].profileImageId?>" alt=""></a></div>
                        <h4 class="truncate" style="width:100px;" title="<?=model.mostAwardedPersonWidget[2].firstName?> <?=model.mostAwardedPersonWidget[2].lastName?>"><?=model.mostAwardedPersonWidget[2].firstName?> <?=model.mostAwardedPersonWidget[2].lastName?></h4>
                        <h5 class="truncate" style="width: 100px;" title="<?=model.mostAwardedPersonWidget[2].job?>"><?=model.mostAwardedPersonWidget[2].job?></h5>
                    </div>
                    <div class="stat-container" style="background-color:#F2CFA9;">
                        <div class="podium-third"></div>
                    </div>
                    <span class="star-counter"><?=model.mostAwardedPersonWidget[2].stars?></span>
                    <? } else{ ?>
                        <div class="usr-podio-container">
                            <div class="pic-podio"></div>
                            <h4></h4>
                            <h5></h5>
                        </div>
                        <div class="stat-container" style="background-color:#F2CFA9;">
                            <div class="podium-third"></div>
                        </div>
                        <span class="star-counter">0</span>
                    <? } ?>
                </div><!-- podio-container -->

            </div><!-- top awared col-md-6" -->

            <div id="topRewardedPersons" class="col-lg-6">
                <h3 data-i18n="[html]translation:dashboard.mostActiveUsers.starsSent">Stars Sent</h3>

                <div class="podio-container">
                    <? if(model.mostRewarderPersonsWidget[0] != null){ ?>
                    <div class="usr-podio-container">
                        <div class="pic-podio"><a data-id="<?=model.mostRewarderPersonsWidget[0].id?>" href="#"><img class="img-circle" src="<?=model.mostRewarderPersonsWidget[0].profileImageId?>" alt=""></a></div>
                        <h4 class="truncate" style="width:100px;" title="<?=model.mostRewarderPersonsWidget[0].firstName?> <?=model.mostRewarderPersonsWidget[0].lastName?>">
                            <?=model.mostRewarderPersonsWidget[0].firstName?> <?=model.mostRewarderPersonsWidget[0].lastName?>
                        </h4>
                        <h5 class="truncate" style="width: 100px;" title="<?=model.mostRewarderPersonsWidget[0].job?>">
                            <?=model.mostRewarderPersonsWidget[0].job?>
                        </h5>
                    </div>
                    <div class="stat-container">
                        <div class="podium-first"></div>
                    </div>
                    <span class="star-counter"><?=model.mostRewarderPersonsWidget[0].stars?></span>
                    <? } else{ ?>
                        <div class="usr-podio-container">
                            <div class="pic-podio"></div>
                            <h4></h4>
                            <h5></h5>
                        </div>
                        <div class="stat-container">
                            <div class="podium-first"></div>
                        </div>
                        <span class="star-counter">0</span>
                    <? } ?>
                </div><!-- podio-container first -->

                <div class="podio-container">
                    <? if(model.mostRewarderPersonsWidget[1] != null){ ?>
                    <div class="usr-podio-container">
                        <div class="pic-podio"><a data-id="<?=model.mostRewarderPersonsWidget[1].id?>" href="#"><img class="img-circle" src="<?=model.mostRewarderPersonsWidget[1].profileImageId?>" alt=""></a></div>
                        <h4 class="truncate" style="width:100px;" title="<?=model.mostRewarderPersonsWidget[1].firstName?> <?=model.mostRewarderPersonsWidget[1].lastName?>">
                            <?=model.mostRewarderPersonsWidget[1].firstName?> <?=model.mostRewarderPersonsWidget[1].lastName?>
                        </h4>
                        <h5 class="truncate" style="width: 100px;" title="<?=model.mostRewarderPersonsWidget[1].job?>">
                            <?=model.mostRewarderPersonsWidget[1].job?>
                        </h5>
                    </div>
                    <div class="stat-container" style="background-color:#ECAB69;">
                        <div class="podium-second" style="height:116px"></div>
                    </div>
                    <span class="star-counter"><?=model.mostRewarderPersonsWidget[1].stars?></span>
                    <? } else{ ?>
                        <div class="usr-podio-container">
                            <div class="pic-podio"></div>
                            <h4></h4>
                            <h5></h5>
                        </div>
                        <div class="stat-container" style="background-color:#ECAB69;">
                            <div class="podium-second" style="height:116px"></div>
                        </div>
                        <span class="star-counter">0</span>
                    <? } ?>
                </div><!-- podio-container second -->

                <div class="podio-container">
                    <? if(model.mostRewarderPersonsWidget[2] != null){ ?>
                    <div class="usr-podio-container">
                        <div class="pic-podio"><a data-id="<?=model.mostRewarderPersonsWidget[2].id?>" href="#"><img class="img-circle" src="<?=model.mostRewarderPersonsWidget[2].profileImageId?>" alt=""></a></div>
                        <h4 class="truncate" style="width:100px;" title="<?=model.mostRewarderPersonsWidget[2].firstName?> <?=model.mostRewarderPersonsWidget[2].lastName?>">
                            <?=model.mostRewarderPersonsWidget[2].firstName?> <?=model.mostRewarderPersonsWidget[2].lastName?>
                        </h4>
                        <h5 class="truncate" style="width: 100px;" title="<?=model.mostRewarderPersonsWidget[2].job?>">
                            <?=model.mostRewarderPersonsWidget[2].job?>
                        </h5>
                    </div>
                    <div class="stat-container" style="background-color:#F2CFA9;">
                        <div class="podium-third"></div>
                    </div>
                    <span class="star-counter"><?=model.mostRewarderPersonsWidget[2].stars?></span>
                    <? } else{ ?>
                        <div class="usr-podio-container">
                            <div class="pic-podio"></div>
                            <h4></h4>
                            <h5></h5>
                        </div>
                        <div class="stat-container" style="background-color:#F2CFA9;">
                            <div class="podium-third"></div>
                        </div>
                        <span class="star-counter">0</span>
                    <? } ?>
                </div><!-- podio-container third -->
            </div><!-- podio col-md-6" -->
        </div>
    </section>      
    <section class="dashboard-wrapper col-md-12">
    <h2 data-i18n="[html]translation:dashboard.stellarValues.title">Stellar Values</h2>
    <div class="row">
        <div id="mostGivenValues" class="col-lg-9"></div>
        <div id="mostGivenValuesInfo" class="col-lg-3 hide">
            <div class="table-container">
                <table class="values-table">
                  <thead id="mostGivenValuesInfoHead" background-color="#c34645">
                    <tr>
                        <td class="td-izq-up" id="mostGivenValuesInfoHead" background-color="#c34645">
                            <img id="table-image" class="img-circle" src="" style="width: 30px; height: 30px;">
                        </td>
                        <td><h4 id="starName" style="color: white;"></h4></td>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="td-izq"><span class="fa fa-pie-chart"></span></td>
                      <td class="td-der">
                        <span class="table-title" data-i18n="[html]translation:dashboard.stellarValues.totalSent">Total Sent</span>
                        <span id="totalSent" class="table-data"></span>
                      </td>
                    </tr>
                    <tr>
                      <td class="td-izq"><span class="fa fa-user"></span></td>
                      <td class="td-der">
                        <span class="table-title" data-i18n="[html]translation:dashboard.stellarValues.topSender">Top Sender</span>
                        <span id="topSender" class="table-data"></span>
                      </td>
                    </tr>
                    <tr>
                      <td class="td-izq"><span class="fa fa-user"></span></td>
                      <td class="td-der">
                        <span class="table-title" data-i18n="[html]translation:dashboard.stellarValues.topReceiver">Top Receiver</span>
                        <span id="topReciver" class="table-data"></span>
                      </td>
                    </tr>
                    <tr>
                      <td class="td-izq"><span class="fa fa-map-marker"></span></td>
                      <td class="td-der">
                        <span class="table-title" data-i18n="[html]translation:dashboard.stellarValues.mostActiveLocation">Most Active Location</span>
                        <span id="location" class="table-data"></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
    </section>
    <section class="dashboard-wrapper col-md-12">
        <h2 data-i18n="[html]translation:dashboard.topTenLocations.title">top 10 locations </h2>
        <div class="row">
            <div class="col-lg-12">
                <h3 data-i18n="[html]translation:dashboard.topTenLocations.starsReceived">Stars received</h3>
                <div id="mostActiveLocations" class="locations-container">
                    <!-- svg top tep most active locations -->
                </div>
                <div class="locations-bars-container">
                    <a id="toggleCollapseLocations" data-toggle="collapse" data-target="#hidLocations" style="cursor: pointer;" data-i18n="[html]translation:dashboard.topTenLocations.showMoreLocations"><?=$.t("translation:dashboard.topTenLocations.showMoreLocations")?></a>
                    <div id="hidLocations" class="all-bars-container collapse" style="height: 0px;">
                        <?if(model.mostRewardedOffice != null){?>
                            <?_.each(model.mostRewardedOffice.element, function(opt){
                                    var barPercentage = opt.stars*100/model.mostRewardedOffice.max?>
                            <div class="all-bars">
                                <div class="bar-container">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: <?=barPercentage?>%;">
                                            <span class="sr-only">65% Complete</span>
                                        </div>
                                    </div>
                                </div><!-- bar-container -->
                                <div class="progress-info">
                                    <span class="location"><?=opt.name?></span>
                                    <span class="porcent"><?=opt.percentage?>%</span>
                                </div>
                            </div><!--all-bars -->
                            <?});?>
                        <?}?>
                    </div>
                </div><!-- more locations bars -->
            </div><!-- col lg 12 -->
        </div><!-- row -->
    </section><!-- bar chart section -->
    <section class="dashboard-wrapper col-md-12">
        <h2 data-i18n="[html]translation:dashboard.accessStatistics.title">Access Statistics</h2>
        <div class="row">
            <div id="accessPieChart" class="col-lg-12" style="text-align: center;"></div>
        </div><!-- row -->
    </section><!-- bar chart section -->
    <section class="dashboard-wrapper col-md-12">
        <h2 data-i18n="[html]translation:dashboard.histogram.title">Histogram</h2>
        <div class="row">
            <div class="col-lg-12">
                <h3 data-i18n="[html]translation:dashboard.histogram.usersByStars">Stars Given by User</h3>
                <div id="histogram" class="locations-container">
                    <!-- svg top tep most active locations -->
                </div>
                <div class="locations-bars-container">
                    <a id="toggleCollapseHistogram" data-toggle="collapse" data-target="#hidHistogram" style="cursor: pointer;" data-i18n="[html]translation:dashboard.histogram.showMore"><?=$.t("translation:dashboard.histogram.showMore")?></a>
                    <div id="hidHistogram" class="all-bars-container collapse" style="height: 0px;">
                        <?if(model.usersByStars != null){?>
                            <?_.each(model.usersByStars, function(opt){
                                    var barPercentage = opt.users*100/model.maxQuantityOfUsersByStars?>
                            <div class="all-bars">
                                <div class="bar-container">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: <?=barPercentage?>%;">
                                            <span class="sr-only">65% Complete</span>
                                        </div>
                                    </div>
                                </div><!-- bar-container -->
                                <div class="progress-info">
                                    <span class="location"><?=opt.users?></span>
                                    <span class="porcent"><img src="assets/content/starmeup/img/ico-star30x30.png" width="10" height="10"></img><?=opt.stars?></span>
                                </div>
                            </div><!--all-bars -->
                            <?});?>
                        <?}?>
                    </div>
                </div><!-- more locations bars -->
            </div><!-- col lg 12 -->
        </div><!-- row -->
    </section><!-- bar chart section -->
<!-- section locations-wrapper col-md-12-->

