<div class="modal fade admin-modal" id="<?=model.prefix?>Modal" tabindex="-1" role="dialog" aria-labelledby="<?=model.prefix?>Modal" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
			  <h3 class="modal-title" id="<?=model.prefix?>ModalTitle">Oooooops!</h3>
			  </div>
			  <div class="modal-body" id="<?=model.prefix?>ModalBody">
			  <p>Something went wrong, please try again in a moment.</p>
			  </div>
			   <div class="error-modal">
			        <a href="#" class="btn btn-default btn-save" data-dismiss="modal" id="<?=model.prefix?>ModalAcceptButton">Accept</a>			         	 
			    </div>			  			  
			</div>
		  </div>
</div>