<div class="modal fade message-app" id="eula-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
   <div class="modal-content">    	  
    <div class="modal-body">    
      <section class="notify-close">         
          <div class="col-lg-12 text" style="max-height:480px;padding-top: 20px;padding-bottom: 20px;">
             <h3 class="title" style="padding-bottom: 10px;" data-i18n="[html]translation:eula.modal.title">Acuerdo de Licencia para el Usuario Final</h3>
             <div id="eulaText" style="overflow-y:auto; max-height:400px;">			
                 <p><?=model.text?></p>
                 <input id="chkAgree" type="checkbox" disabled><span data-i18n="[html]translation:eula.modal.conditions" style="color: white;">Acepto las condiciones del acuerdo de licencia</span>
                 <div class="col-lg-12" style="padding: 10px 0px 10px 320px;">
                    <button type="button" class="btn btn-default btn-save disabled js-accept" data-i18n="[html]translation:eula.modal.accept">Aceptar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="[html]translation:eula.modal.cancel">Cancelar</button>
                </div>
            </div>           
        </div>
		<!--<div class="col-lg-12 text">
		<input id="chkAgree" type="checkbox" disabled><span data-i18n="[html]translation:eula.modal.conditions" style="color: white;">Acepto las condiciones del acuerdo de licencia</span>
  </div>-->	
</section>
</div> 
	  <!--<div class="modal-footer" style="padding-top: 0px;">        
        <button type="button" class="btn btn-default btn-save disabled js-accept" data-i18n="[html]translation:eula.modal.accept">Aceptar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="[html]translation:eula.modal.cancel">Cancelar</button>
    </div>-->
</div>
</div>
</div><!-- select-message-app -->