<div class="container-user">		
	<div class="pic">
		<img alt="picture-profile" src="<?=model.user.profileImage?>">
		<h3><?=model.user.firstName?> <?=model.user.lastName?></h3>
		<!--<div class="star swing animated"><span><?=model.totalStars?></span></div>-->
	</div>
	<!--<a class="volver js-back" href="#"><i class="fa fa-arrow-left"></i>Volver</a>-->
</div>
<h2 class="title-2">¿Cómo calificarías tu experiencia?</h2>
<form>
<ul class="opinion-panel">
	<?_.each(model.customerValues, function(val){?>
		<li class="faces"><div class="content animated zoomIn"><a href="#" class="js-star" data-id="<?=val.id?>"><img src="<?=val.imageId?>"></a></div></li>
	<?})?>	
</ul>
</form>
<div id="giveCustomerStar"></div>