<!-- stellar template -->
<section id="giveCoreStar" class="giveCoreStar">
    <div id="collapseSelectStar" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSelectStar">
        <div id="toggleChangeStar" class="panel-body give-star">
            Stars
        </div>
    </div>
    <div id="selectedStarPanel">
        <ul class="give-star category-star">
            <li class="star-select">
                <h3 id="selectedStarLabel" class="give-star-title"><?= model.selectedStar != null ? model.selectedStar.nameShowed : "" ?></h3>
                <div class="content"  data-toggle="collapse" data-parent="#accordion" href="#collapseSelectStar" aria-expanded="false" aria-controls="collapseSelectStar">
                    <a href="#" type="button" data-toggle="modal" data-target=".starModal" data-whatever="">
                        <img id="selectedStarImage" class="img-circle img-circle-modal" src="<?= model.selectedStar != null ? model.selectedStar.imageUrl : '' ?>" onmousedown="return false">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section><!-- end stellar template -->
<!-- talent template -->
<section id="giveSkillStar" class="giveSkillStar">
    <div id="skillToGiveStarSection" class="core-give-star">
            <h4><i class="icon"><img src="assets/content/starmeup/img/generic-skill-star.jpg" class="img-circle" id="backToCore" ></i><span style=""> <?= $.t("translation:home.giveStarModal.chooseTalent") ?></span></h4>
            <div id="skillToGiveStarContainer" class="typeahead-search-skills">
                <input id="skillToGiveStar" type="text" name="userTo" autocomplete="off" data-provide="typeahead" class="form-control" placeholder="Search for skills" data-i18n="[placeholder]translation:home.giveStarModal.searchForSkills"/>
            </div>
            <div id="resultingSkillsContainer" class="hide">
            </div>
        </div>
        <div id="selectedSkillSection">
            <ul class="give-star category-star">
                <li class="star-select">
                    <h3 id="selectedSkillLabel" class="give-star-title"></h3>
                    <a id="skillStarSelected" class="media-left pic-small" >
                        <img id="modalSelectedSkillImage" class="img-circle" alt="" onmousedown="return false">
                    </a>
                    <div class="media-body name-comment">
                        <p><span id="modalSelectedSkillPathLabel"></span></p>
                    </div>
                </li>
            </ul>
        </div><!-- end skill star selected section -->
</section><!-- end talent template -->
<br>
<form role="form">
    <div id="usertoGiveStarSection" class="form-group typeahead-search">
        <input id="usertoGiveStar" type="text" name="userTo" autocomplete="off" data-provide="typeahead" class="form-control" placeholder="<?= $.t('translation:home.giveStarModal.searchForPeople') ?>"   />
    </div>
    <div id="selectedUserSection" class="form-group" >
        <label id="changeSelectedUser"  class="control-label">
            <a class="media-left pic-small" href="#">
                <img id="modalSelectedUserImage" class="img-circle" alt=""  onmousedown="return false" style="width:35px; height:35px ">
            </a>
            <div class="media-body name-comment" style="padding-top: 5px;">
                <p> <?= $.t("translation:home.giveStarModal.to") ?> <span id="modalSelectedUserNameLabel" class="bold" data-i18n="[html]translation:home.giveStarModal.name">Name</span> | <span id="modalSelectedUserSeniorityLabel"  data-i18n="[html]translation:home.giveStarModal.seniority">Job</span></p>
            </div>
        </label>
    </div>
    <div class="form-group">
        <textarea id="notesToGiveStar" name="notes" wrap="soft" rows="3" class="form-control" placeholder="Insert your comment here" maxlength="4000" data-i18n="[placeholder]translation:home.giveStarModal.insertYourCommentHere"></textarea>
    </div>
</form>

