<div class="navbar-wrapper">
    <div class="container">

    </div>
</div>
<div class="container margin-box">
    <div id="bodyContainer"  class="row">
        <div id="leftPanel" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div id="wrapper">
                <ul class="menu">
                    <li class="item1"><a href="#">OPERACIONES</a>
                        <ul>
                            <li class="subitem1"><a href="#" class="js-click-treatments">Tratamientos</a></li>
                            <li class="subitem2"><a href="#" class="js-click-customers">Clientes</a></li>
                            <li class="subitem3"><a href="#" class="js-click-branches">Sucursales</a></li>
                            <li class="subitem4"><a href="#">Contactos</a></li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">PLANES</a>
                        <ul>
                            <li class="subitem1"><a href="#">Pendientes</a></li>
                            <li class="subitem2"><a href="#">Atrasados</a></li>
                        </ul>
                    </li>
                    <li class="item2"><a href="#">ADMINISTRACION</a>
                        <ul>
                            <li class="subitem1"><a href="#">Prodcutos</a></li>
                        </ul>
                    </li>
                    <li class="item3"><a href="#">PARAMETROS</a>
                        <ul>
                            <li class="subitem1"><a href="#">Generales</a></li>
                            <li class="subitem2"><a href="#">Plagas</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>        
        <div id="centerPanel" class="col-xs-7 col-sm-7 col-md-7 col-lg-7">

        </div>
        <div id="rightPanel" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

        </div>
    </div>
</div>
<script type="text/javascript">
$(function() {

    var menu_ul = $('.menu > li > ul'),
        menu_a  = $('.menu > li > a');

    menu_ul.hide();

    menu_a.click(function(e) {
        e.preventDefault();
        if(!$(this).hasClass('active')) {
            menu_a.removeClass('active');
            menu_ul.filter(':visible').slideUp('normal');
            $(this).addClass('active').next().stop(true,true).slideDown('normal');
        } else {
            $(this).removeClass('active');
            $(this).next().stop(true,true).slideUp('normal');
        }
    });

});
</script>