<div class="navbar-wrapper">
    <div class="container">
        <nav>
            <ul class="menu">
                <li><a href="#"><i class="icon-home"></i>OPERACIONES</a>
                    <ul class="sub-menu">
                        <li><a href="#">Tratamientos</a></li>
                        <li><a href="#">Clientes</a>
                            <ul>
                                <li><a href="#">Clientes</a></li>
                                <li><a href="#">Sucursales</a></li>
                                <li><a href="#">Contactos</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a  href="#"><i class="icon-camera"></i>ADMINISTRACION</a>
                    <ul class="sub-menu">
                        <li><a href="#">Productos</a></li>
                    </ul>
                </li>
                <li><a  href="#"><i class="icon-camera"></i>PARAMETROS</a>
                    <ul class="sub-menu">
                        <li><a href="#">Tipos</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="container margin-box">
    <div id="bodyContainer"  class="row">
        <div id="leftPanel" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <span>Left Panel</span>
        </div>        
        <div id="centerPanel" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <span>Center Panel</span>
        </div>
        <div id="rightPanel" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <span>Right Panel</span>
        </div>
    </div>
</div>