<? if (model != null && model.user != null) {
	?>
<div class="block-user bg-profile-white">
	<div class="pic-user">
        <img id='profileImage' style="cursor: pointer;" class="img-circle" src="<?=model.domain?>/img/leaderBoardUser.png" alt=""/>
   	</div><!-- pic-user -->
	<h3><?=model.user.firstName?> <?=model.user.lastName?></h3>
	<h4><?=model.user.job?></h4>
 	<hr class="featurette-divider">
	<? if(model.remainingStars > 0) { ?>
		<h3><?=model.remainingStars?></h3>
		<p><span>Remaining stars</span></p>
	<? }else{ ?>
		<h3>You are out of stars for this period but you will be able to give more stars the next month!</h3>
	<? }?>
	<hr class="featurette-divider">
</div><!-- block-user -->
<div id="profileImageContainer"></div>

<? } ?>