<nav id="pager-top" class="reports-pagination" style="width: auto;"></nav>
<table class="table">
            <thead>
                <tr>
                  <th><span class="position-number"></span></th>
                  <th data-i18n="[html]translation:admin.importUsers.headerFileName">File Name</th>
                  <th data-i18n="[html]translation:admin.importUsers.headerAuthor">Autor</th>
                  <th data-i18n="[html]translation:admin.importUsers.headerCreationDate">Creation Date</th>
                  <th data-i18n="[html]translation:admin.importUsers.headerLastChange">Last Change</th>
                  <th data-i18n="[html]translation:admin.importUsers.headerStatus">Status</th>
                  <th></th>
                </tr>
              </thead>
            <tbody>             
            <?_.each(model.files,function(opt, index){?>
                <tr>
                    <td><span class="position-number"><?=index + model.lastResult + 1?></span></td>
                    <td><?=opt.name?></td>
                    <td><?=opt.user.email?></td>
                    <td><?=(new Date(opt.creationDate + ' UTC')).toLocaleString()?></td>  
                    <td><?=(new Date(opt.statusDate + ' UTC')).toLocaleString()?></td>
                    <td><?=opt.status?></td>
                    <td><a data-id="<?=opt.id?>" class="js-result" href="#" 
                           data-i18n="[html]translation:admin.importUsers.linkResult">Result</a></td>
                </tr>
            <? }); ?>
            </tbody>
</table>
<nav id="pager-bottom" class="reports-pagination" style="width: auto;"></nav>