<div class="fileinput-button">
	<div>
		<a href="#" style="color: #00ABAD;
		text-decoration: none;
		font-size: 1em;
		font-weight: 600;" 
		data-i18n="[html]translation:admin.importEula.uploadButton">Upload File</a>
		<input id="innerfileupload" type="file" >
		<br>
		<span style="text-transform: uppercase;
		font-size: 0.7em;
		color: #a3a3a3;
		width: 100%;
		float: left;
		display: block;"
		data-i18n="[html]translation:admin.importEula.fileTypeDescription">only .txt files</span>
	</div>
</div>
<div id="importEulaModalContainer" class="give-star category-star" style="padding:0"></div>