

<header id="home" data-stellar-background-ratio="0.5" class="header animated no-background">

<nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav" role="navigation">
    <div class="container main-navigation">
        <div class="col-md-3 float-left wide-logo">
			<a class="logo-dark" href="#"><img alt="logo-dark" src="assets/content/landing/img/logo-starmeup.png" class="logo-dark" /></a>
			<a class="logo-light" href="#"><img alt="logo-white" src="assets/content/landing/img/logo-starmeup.png" class="logo-white" /></a>
		</div>
		
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
        </div>
        <div class="col-md-10 text-left float-right collapse-navation">
            <div class="navbar-collapse collapse navbar-inverse no-transition">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#whatis" data-i18n="[html]translation:landing.topnav.whatis">What is it?</a></li>
                    <li><a href="#features" data-i18n="[html]translation:landing.topnav.features">Features</a></li>
					<li class="hide"><a href="#interested">Contact us</a></li>
                    <li><a id="login" href="#" class="btn-modal" data-i18n="[html]translation:landing.topnav.login"><strong>Login</strong></a></li>
					
                    <li class="bg-try current js-trial"><a id="trial" href="#" data-i18n="[html]translation:landing.topnav.tryit" class="col-try js-trial">Try it free!</a></li>
                    <li class="last" style="cursor:pointer;">
					<a><?= model.selectedLanguageCode ?><i class="fa fa-caret-down"></i></a>
						<ul class="language os-animation fadeInUp" data-os-animation="fadeInUp">
							<?_.each(model.languages, function(opt){
								if(opt.code != model.selectedLanguageCode){?>
									<li><a class="js-leng" data-id="<?=opt.id?>" href="#"><?=opt.nameShowed?></a></li>	
							<?}
							});?>
						</ul>
					</li>
                </ul>
            </div>
        </div>
    </div>
</nav>

        
		<div class="home-slider full-screen">
		<!--<div class="slider-gradient-overlay"></div>-->
			<!--not for now
			<video class="video-globant" loop autoplay preload poster"assets/content/landing/img/poster.jpg">
				<source src="assets/content/landing/video/prueba03.mp4" type="video/mp4" />
				<source src="assets/content/landing/video/prueba03.webm" type="video/webm" />
				<source src="assets/content/landing/video/prueba03.ogv" type="video/ogg" />
			</video>
			-->
		
            <div id="carousel3" class="carousel slide" data-ride="carousel3" data-interval='false'>
			
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel3"></li>
                    <li data-slide-to="1" data-target="#carousel3" class=""></li>
                    <li data-slide-to="2" data-target="#carousel3" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
					
                        <div style="background-image:url('assets/content/landing/img/bg-slide01.jpg');" class="fill"></div>
                        <div class="slider-text">
							<div class="container">
							<div class=" col-md-12">
							
							
								<div class="col-md-6 float-left">
								<h2 class="title-slider" data-i18n="[html]translation:landing.carrousel.title1">Building Up Better Communities</h2>
									<p class="text-slider" data-i18n="[html]translation:landing.carrousel.content1">StarMeUp introduces a new way for people to send and receive stars to recognize your coworkers' feats around you. Spread your stars today! And increase the positive impact on your organization!</p>
								</div>
								<div class="col-md-6 float-right">
									<div style="background-image:url('assets/content/landing/img/phone.png');" class="pic-carousel"></div>
								</div>
								
								</div>
							</div>	
							
							
                        </div>
                    </div>
					
					<div class="item">
                        <div style="background-image:url('assets/content/landing/img/bg-slide01.jpg');" class="fill"></div>
                        <div class="slider-text">
						<div class="container">
						<div class="col-md-12">
                            <div class="col-md-6 float-left">
								<h2 class="title-slider" data-i18n="[html]translation:landing.carrousel.title2">Easier than ABC!</h2>
									<h7><p class="text-slider" data-i18n="[html]translation:landing.carrousel.subtitle2">Easy and fun to use!</p></h7>
									<p class="text-slider" data-i18n="[html]translation:landing.carrousel.content2">Pick a recipient. Choose a Star. Voilà! Let the world know who is making a difference!</p>
								</div>
								<div class="col-md-6 float-right">
									<div style="background-image:url('assets/content/landing/img/phone.png');" class="pic-carousel"></div>
								</div>
							</div>
							</div><!-- container -->
							
                    </div>
                </div>
				<div class="item">
                    <div style="background-image:url('assets/content/landing/img/bg-slide01.jpg');" class="fill"></div>
                    <div class="slider-text">
					<div class="container">
					<div class="col-md-12">
                        <div class="col-md-6 float-left">
							<h2 class="title-slider" data-i18n="[html]translation:landing.carrousel.title3">Share, Comment, Like</h4></h2>
								<p class="text-slider" data-i18n="[html]translation:landing.carrousel.content3">Celebrate wins as a team and start a conversation of recognition. Enjoy the best part of social media with your teammates.</p>
							</div>
							<div class="col-md-6 float-right">
								<div style="background-image:url('assets/content/landing/img/phone.png');" class="pic-carousel"></div>
							</div>
						</div>
						</div><!-- container -->
						
                    </div>
                </div>
				
            </div><!-- carousel-inner -->
			
        </div><!-- carousel slide -->
    </div><!-- home-slider full-screen -->
</header>
        <!-- header end --> 
		


        <!-- about -->
        <section id="whatis" class="blank-bg">
            <div class="container">
				<div class="row os-animation text-center fadeInUp" data-os-animation="fadeInUp">
                    <div class="col-md-6 col-sm-10 row os-animation bounceInLeft animated" data-os-animation="bounceInLeft">
                      <img src="assets/content/landing/img/pic-feature01.png" alt="" />
                    </div>
                    <div class="col-md-6 col-sm-12 text">
					  <h2 class="title-whatis" data-i18n="[html]translation:landing.whatis.title">What is <strong>StarmeUp</strong>?</h2>
                        <p class="text-description" data-i18n="[html]translation:landing.whatis.description1">
						<strong>StarmeUp</strong> is a great tools for peer review and skill tracking.</p>
						<p class="text-description" data-i18n="[html]translation:landing.whatis.description2">
						Our star system encourages team building and helps managers recognize the hidden gems in every team.
						</p>
						<div class="download-app row os-animation bounceInRight" data-os-animation="bounceInRight">
							<a><span data-i18n="[html]translation:landing.whatis.download">Download the App and start giving Stars!</span>
								<div class="ico-app">
									<a href="https://play.google.com/store/apps/details?id=com.globant.starmeup"><span class="fa fa-android"></span></a>
									<span class="fa fa-apple hide" title="Coming soon!" style="cursor:default;"></span>
								</div>
							</a>
						</div>
						
                    </div>
                </div>
            </div>
        </section><!-- what is --> 
		<section id="features" class="bg-green">
			<div class="container">
				<div class="row os-animation" data-os-animation="fadeInUp">
					<h2 class="title-features os-animation animated bounceInRight" data-os-animation="bounceInRight" data-i18n="[html]translation:landing.features.title">StarmeUp Features</h2>
					<div class="col-md-4 col-sm-4 text-features">
						<span class="number-features"><span>1</span></span>
						<p class="title-second-features"  data-i18n="[html]translation:landing.features.f1.title">Recognize coworkers on specific actions</p>
						<p data-i18n="[html]translation:landing.features.f1.content">Reward and promote great behaviour.</p>
					</div>
					<div class="col-md-4 col-sm-4 text-features">
						<span class="number-features"><span>2</span></span>
						<p class="title-second-features" data-i18n="[html]translation:landing.features.f2.title">Encourage peer to peer recognition</p>
						<p data-i18n="[html]translation:landing.features.f2.content">Learn from the knowledge teammates get on a day to day basis and get their feedback.</p>
					</div>
					<div class="col-md-4 col-sm-4 text-features">
						<span class="number-features"><span>3</span></span>
						<p class="title-second-features" data-i18n="[html]translation:landing.features.f3.title">Continuous feedback</p>
						<p data-i18n="[html]translation:landing.features.f3.content">Exposition among peers encourages constant improvement.</p>
					</div>
					<div class="col-md-4 col-sm-4 text-features">
						<span class="number-features"><span>4</span></span>
						<p class="title-second-features" data-i18n="[html]translation:landing.features.f4.title">Easily recognize others</p>
						<p data-i18n="[html]translation:landing.features.f4.content">Giving stars is something that takes just a few seconds.</p>
					</div>
					<div class="col-md-4 col-sm-4 text-features">
						<span class="number-features"><span>5</span></span>
						<p class="title-second-features" data-i18n="[html]translation:landing.features.f5.title">Focus on the Core Values</p>
						<p data-i18n="[html]translation:landing.features.f5.content">Let your peers know how much integrity is valued by those around you!</p>
					</div>
					<div class="col-md-4 col-sm-4 text-features">
						<span class="number-features"><span>6</span></span>
						<p class="title-second-features" data-i18n="[html]translation:landing.features.f6.title">Spot hidden talents</p>
						<p data-i18n="[html]translation:landing.features.f6.content">Identify talented but shy people, who are eager to grow.</p>
					</div>
				</div>
			</div><!-- container -->
		</section>
		
		<section id="interested" class="dark hide">
			<div class="container">
				<div class="row os-animation" data-os-animation="fadeInUp">
				<h3 class="title-interested col-md-12">Intesrested in receiving more information?</h3>
				
				<form class="form-inline form-interested">
				  <div class="form-group">
					<input type="email" class="form-control input-interested" id="exampleInputEmail2" placeholder="Enter your email">
					<button type="submit" class="btn btn-submit">Submit</button>
				  </div>
				  <p>Or sen us your comments to lorem@ipsum.com</p>
				</form>
				</div>
			</div><!-- container -->
		</section>
		
		
		<footer id="footer" class="footer">
                <div class="container">
                    <div class="row os-animation" data-os-animation="bounceIn">
                        <p class="content-white copy"><img src="assets/content/landing/img/logo-footer.png" alt="" />&copy; 2015 powered by Globant.</p>
						<ul class="content-white float-right redes hide">
							<li>About Us </li>
							<li><a href="#" class="ico-face"></a></li>
							<li><a href="#" class="ico-twit"></a></li>
						</ul>
                    </div>
                </div>
        </footer><!-- footer end --> 
		
        
		<!-- ejemplo para Andres no borrar
		<section id="our-culture" class="our-culture">
			<div class="color-overlay">
			
			</div>
		</section>-->
        <!-- beneficios -->
		
		
		

        <!-- scroll to top --> 
        <a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a> 
        <!-- scroll to top End... -->

		<div id="loginModal"></div>
		<div id="trialModal"></div>

		