<h4 data-i18n="[html]translation:home.leaderBoardView.topStarsThisMonth">TOP STARS THIS MONTH</h4>
<? if (model != null && model.leader != null) {?>
<div class="top-one user-one">
	<span class="media-left pic-small" style="width:74px">
		<a data-id="<?=model.leader.id?>" class="#" href="#"><img style="width:60px" class="img-circle" src="<?=  model.leader.profileImageId ?>" alt=""/></a>
		<div class="star">
			<span><?=model.leader.starsCount?></span>
		</div>
	</span>
	<div class="media-body topStar-user break-word">
		<p class="media-heading"><?=model.leader.firstName?> <?=model.leader.lastName?></p>
		<span><?=model.leader.job?></span>
	</div>
</div><!-- top-one -->
<?
} ?>
<div class="more-positions">
<? if (model != null && model.users != null) {
_.each(model.users,function(opt){
?>
		<div class="position">
			<a data-id="<?=opt.id?>" class="media-left pic-small" href="#"><img style="width:30px;height:30px" class="img-circle" src="<?=  opt.profileImageId ?>" alt=""/></a>
			<div class="media-body name-comment break-word">
				<h5 class="media-heading"><?=opt.firstName?> <?=opt.lastName?></h5>
				<small><?=opt.job?></small>
			</div>
			<div class="star-number media-right">
				<div class="star"><span><?=opt.starsCount?></span></div>
			</div><!-- star-number -->			
		</div><!-- position -->
		<?
		});
	} ?>		
</div><!-- more-position -->
