<div>
	<div class="container">
			<div class="row">
				<div id="carousel-example-generic" class="carousel slide carousel-login" data-ride="carousel">
				  <div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="carousel-caption">
							<h4 data-i18n="[html]translation:login.carrousel.title4">Go mobile!</h4>
							<p data-i18n="[html]translation:login.carrousel.content4">The StarmeUp mobile app makes it easier for you to recognize your colleagues wherever you are. Download the app and get started!</p>
							<a href="https://play.google.com/store/apps/details?id=com.globant.starmeup"><img src="assets/content/starmeup/img/btn-download-googleplay.png" alt="" /></a>
							<a href="https://itunes.apple.com/us/app/starmeup/id973506772"><img src="assets/content/starmeup/img/btn-download-app.png" alt="" /></a>
						</div>
					</div>				  	
				  </div>
				</div><!-- carousel-login-->
				<form class="login js-login-form" method="POST" action="#">
				<img src="assets/content/globant/img/logo-form.png" alt="Starmeup" />
				<div id="login">
					<ul>					
						<? if (model.typeLogin == undefined || model.typeLogin == null || model.typeLogin != 2) {?>
							<li><input id="username" type="email" name="username" placeholder="Email Address" class="form control" value="<?=model.username?>" data-i18n="[placeholder]translation:login.form.emailAddressPlaceholder"/></li>
							<li><input id="password" type="password" name="password" placeholder="Password" data-i18n="[placeholder]translation:login.form.passwordPlaceholder"></li>
	                        <li><div id="loginError" class="show-error"></div></li>	
	                        <li class="loading" style="display:none;">
	                            <div class="sk-spinner sk-spinner-double-bounce">
	                                <span data-i18n="[html]translation:login.form.loadingInProgressMessage">Loading in progress...</span>
	                                <div class="sk-double-bounce1"></div>
	                                <div class="sk-double-bounce2"></div>
	                            </div>
	                        </li>
							<li><input id="btn-submit" type="submit" class="btn btn-warning btn-login" value="Login" data-i18n="[value]translation:login.form.loginButton"></li>
						<?}?>
                        <li style="text-align: left;">
                            <a id="googleSignInButton" class="btn btn-block btn-social btn-google">
                                    <i class="fa fa-google-plus"></i> Sign in with Google
                            </a>
                        </li>
                        <? if (model.typeLogin == undefined || model.typeLogin == null || model.typeLogin == 0) {?>
						<li><span class="remember">
							<?if(model.username!=null && model.username!="") { ?>
								<input id="rememberMe" type="checkbox" checked>
							<? } else { ?>
								<input id="rememberMe" type="checkbox">
							<?}	?>
							<span id="rememberSpam" data-i18n="[html]translation:login.form.rememberMeCheck">Remember me!</span>
							<a href="#" class="forgot js-forgot" data-i18n="[html]translation:login.form.forgotPasswordLink">Forgot Password?</a>							
							<a href="#" id="link-cancelForgot" class="forgot js-cancel hide" data-i18n="[html]translation:login.form.cancelForgotPasswordButton">Cancel</a>
						</span></li>					
						<?}?>
						<li style="text-align: center;"><a id="tryMe" href="#" data-i18n="[html]translation:login.form.tryMeLink">More Information? Try me Now!</a></li>			
						
					</ul>
				</div>
				<div id="trial">					
				</div>
			</form><!-- login -->
		</div>
	</div><!-- container --> 
</div> 
