<div>
    <div class="container">
        <div class="row">
            <form class="login js-login-form" method="POST" action="#">
                <div id="login">
                    <ul>
                        <li><input id="username" type="email" name="username" placeholder="Usuario" class="form control"/></li>
                        <li><input id="password" type="password" name="password" placeholder="Contraseña"></li>
                        <li><div id="loginError" class="show-error"></div></li>
                        <li class="loading" style="display:none;">
                            <div class="sk-spinner sk-spinner-double-bounce">
                                <span">Autenticando...</span>
                                <div class="sk-double-bounce1"></div>
                                <div class="sk-double-bounce2"></div>
                            </div>
                        </li>
                        <li><input id="btn-submit" type="submit" class="btn btn-warning btn-login" value="Entrar"></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div> 
