<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <form class="js-login-form" method="POST" action="#">
                    <div id="login">
                        <div>
                            <input id="username" type="text" name="username" placeholder="Usuario"/>
                        </div>
                        <div>
                            <input id="password" type="password" name="password" placeholder="Contraseña">
                        </div>
                        <div id="loginError" class="show-error"></div>
                        <div>
                            <input id="btn-submit" type="submit" class="btn btn-warning btn-login" value="Entrar">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
        </div>
    </div>
</div> 
