<div class="modal fade admin-modal" id="<?=model.prefix?>Modal" tabindex="-1" role="dialog" aria-labelledby="<?=model.prefix?>ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h4 class="modal-title" style="min-height: 15px;" id="<?=model.prefix?>ModalTitle">Modal title</h4>
      </div>
      <div class="modal-body" style="padding-bottom:0px;" id="<?=model.prefix?>ModalBody">
        
      </div>            
      <div class="modal-footer" style="padding-top: 0px;">      
        <p style="display:none;text-align: start;" class="alert-danger" id="<?=model.prefix?>ModalErrorMessage">Error Message</p>
        <button type="button" class="btn btn-default btn-save" id="<?=model.prefix?>ModalAcceptButton">Save changes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="<?=model.prefix?>ModalCancelButton" style="display:none">Close</button>
      </div>
    </div>
  </div>
</div>