<div class="modal-body war-notice">
  <h2>WARNING:</h2> 
  <p>You turned private mode on. This will modify StarmeUp in the following ways:    </p>
 	<ul>  
	 	<li>Users will no longer be able to see or comment stars they haven't given or received.</li>
	  	<li>The like and share functions will be disabled.</li>
	   	<li>The leaderboard and top stars rank will be hidden for normal users.</li>	   	
 	</ul>
 	<p>This change can be reverted at any time. It will not delete any previous comments or likes.</p>
<span class="custom-label">Private Mode is Disabled</span>
</div>
