<div class="container-fluid bg-search">
    <div class="form-group">
        <input type="hidden" id="treatmentId" value="0">
        <ul>
            <li>
                <div id="customerSearch" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search">
                    <input id="treatmentCustomer" size="100" class="typeahead" placeholder="Customer" data-i18n="[placeholder]translation:treatments.customerName" type="text" autocomplete="off" data-provide="typeahead"/>
                    <a href="#" class="ico-search"><i class="fa fa-search fa-2x"></i></a>
                </div>
            </li>
            <li>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="text" id="treatmentBranch" size="30" placeholder="Branch" data-i18n="[placeholder]translation:treatments.branchName">
                </div>
            </li>
            <li>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="text" id="treatmentEmployee" size="30" placeholder="Employee" data-i18n="[placeholder]translation:treatments.employee">
                </div>
            </li>
            <li>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <span data-i18n="[html]translation:treatments.treatmentDate">Treatment Date</span>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <input type="date" id="treatmentDate">
                </div>
            </li>
            <li>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <span data-i18n="[html]translation:treatments.certified">Certified</span>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <input type="checkbox" id="treatmentCertified">
                </div>
            </li>
            <li>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <span data-i18n="[html]translation:treatments.finished">Finished</span>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <input type="checkbox" id="treatmentFinished">
                </div>
            </li>
            <li>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <span data-i18n="[html]translation:treatments.coordinated">Coordinated</span>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <input type="checkbox" id="treatmentCoordinated">
                </div>
            </li>
            <li>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="text" id="treatmentMotives" size="30" placeholder="Motives" data-i18n="[placeholder]translation:treatments.motives">
                </div>
            </li>
            <li>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <span data-i18n="[html]translation:treatments.comments">Comments</span>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <textarea  id="treatmentComments"></textarea>
                </div>
            </li>
        </ul>
    </div>
</div>