<div class="container-fluid">
    <div class="form-group">
        <ul>
            <li>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="text" id="treatmentCustomer" size="50" placeholder="Customer" data-i18n="[placeholder]translation:treatments.customerName">
                </div>
            </li>
            <li>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="text" id="treatmentBranch" size="30" placeholder="Branch" data-i18n="[placeholder]translation:treatments.branchName">
                </div>
            </li>
            <li>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <span data-i18n="[html]translation:treatments.treatmentDate">Treatment Date</span>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <input type="date" id="treatmentDate">
                </div>
            </li>
            <li>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <span data-i18n="[html]translation:treatments.certified">Certified</span>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <input type="checkbox" id="treatmentCertified">
                </div>
            </li>
            <li>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <span data-i18n="[html]translation:treatments.finished">Finished</span>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <input type="checkbox" id="treatmentFinished">
                </div>
            </li>
        </ul>
    </div>
</div>