<h2 class="form-title" data-i18n="[html]translation:admin.mainStarPage.starsReceived">Stars Received</h2>
	<form class="form-inline numberStar">
	  <div class="form-group">
		<label data-i18n="[html]translation:admin.mainStarPage.starsToGive">Stars to give</label>
		<input id="maxStar" type="text" class="form-control stars-input" style="width: 90px;">
	  </div>
	  <div class="form-group">
		<label class="hide">Duration</label>
		<input id="duration" type="text" class="form-control duration-input hide">		
		<select id="selectList" class="select-period hide">
			<option>Day(s)</option>
			<option>Week(s)</option>
			<option>Month(s)</option>					
		</select>
	  </div>
      <div class="save-button js-saveMax" style="cursor:pointer;">
	  	<a href="#" title="Save" data-i18n="[html]translation:admin.mainStarPage.save">Save</a>
      </div>
    </form><!-- numberStar -->

