<li id="periodStar<?=model.id?>">
	<div class="media">
		<input type="number" id="maxStars<?=model.id?>" value="<?=model.maxStarToGive?>"/>
		<input type="date" id="startDate<?=model.id?>" value="<?=model.startDateToShow?>"/>
		<input type="number" id="periodValue<?=model.id?>" value="<?=model.periodValue?>"/>
		<input type="radio" id="periodUnit<?=model.id?>" name="periodUnit<?=model.id?>" value="WEEK" <? if(model.periodUnit=='WEEK') { ?> checked <? } ?>/>Weeks
		<input type="radio" id="periodUnit<?=model.id?>" name="periodUnit<?=model.id?>" value="MONTH" <? if(model.periodUnit=='MONTH') { ?> checked <? } ?>/>Months
		<a href="#" class="btn js-save-period">Save</a>
	</div>		
</li>