<?if(model != null && model.starsReceived != null && model.starsReceived.totalCoreValues > 0){?>
<h3><span class="number"><?=model.starsReceived.totalCoreValues?></span> Stars Received</h3>
<ul class="stars-panel">
	<?_.each(model.starsReceived.coreValuesSummary, function(star){?>
		<li class="col-md-2"><div class="content"><img class="img-circle" src="<?=star.imageUlr?>"><p><span class="number"><?=star.totalStars?></span><?=star.name?></p></div></li>	
	<?});?>	
</ul>
<?}?>

<?if(model != null && model.starsSent != null && model.starsSent.totalCoreValues > 0){?>
<h3><span class="number"><?=model.starsSent.totalCoreValues?></span> Stars Given</h3>
<ul class="stars-panel">
	<?_.each(model.starsSent.coreValuesSummary, function(star){?>
		<li class="col-md-2"><div class="content"><img class="img-circle" src="<?=star.imageUlr?>"><p><span class="number"><?=star.totalStars?></span><?=star.name?></p></div></li>	
	<?});?>
</ul>
<?}?>		
