<? if (model != null && model.user != null) {
    ?>
<div class="block-user bg-profile-white">
    <div class="pic-user">
        <img id="profileImage" class="img-circle" style="height: 200px;width:200px" src="" alt=""/>
            <div class="star-have">
                <a><span id="totalStars"><?=model.starsReceived?></span></a>
            </div><!-- star-have -->
    </div><!-- pic-user -->
    <h3 class="usr-name"><?=model.user.firstName?> <?=model.user.lastName?></h3>
    <p class="top-usr-detail"><span><?=model.user.job != null ? model.user.job.toUpperCase() : ""?></span></p>
    <? if (model.user.enabled) { ?>
        <a id="giveStarFromProfile" href="#" class="btn-given" data-i18n="[html]translation:home.profileInfoPanel.giveStar">Give star</a>
    <? } ?>
    <section id="starsToGive" class="">
        <hr class="featurette-divider">
        <? if(model.remainingStars > 0) { ?>
          <h3 class="remaining-stars"><?=model.remainingStars?></h3>
          <p class="top-usr-detail"><span data-i18n="[html]translation:home.profileInfoPanel.remainingStartsThismonth">REMAINING STARS THIS MONTH</span></p>
        <? }else{ ?>
            <h3 class="usr-title" data-i18n="[html]translation:home.profileInfoPanel.outOfStars">You're out of stars for this period</h3>
        <? }?>
    </section>
    <hr class="featurette-divider">
    <? if(model.user.office != null && model.user.office.name != null && model.user.office.name != ''){ ?>
        <h4 class="usr-title"><?=model.user.office.name?></h4>
        <p class="usr-detail" data-i18n="[html]translation:home.profileInfoPanel.location"><span>LOCATION</span></p>
    <? } ?>
    <? if(model.user.email != null && model.user.email != ''){ ?>
        <h4 class="usr-title"><?=model.user.email?></h4>
        <p class="usr-detail"><span data-i18n="[html]translation:home.profileInfoPanel.email">EMAIL</span></p>
    <? } ?>
    <? if(model.user.phoneNumber != null && model.user.phoneNumber != ''){ ?>
        <h4 class="usr-title"><?=model.user.phoneNumber?></h4>
        <p class="usr-detail" data-i18n="[html]translation:home.profileInfoPanel.officePhone"><span>OFFICE PHONE</span></p>
    <? } ?>
    <!-- <? if(model.user.seniority != null && model.user.seniority != ''){ ?>
        <h4 class="usr-title"><?=model.user.seniority?></h4>
        <p class="usr-detail"><span>SENIORITY</span></p>
    <? } ?>  -->
    <? if(model.user.area != null && model.user.area != ''){ ?>
    <h4 class="usr-title"><?=model.user.area?></h4>
    <p class="usr-detail" data-i18n="[html]translation:home.profileInfoPanel.area"><span>AREA</span></p>
    <? } ?>
    <? if(model.user.project != null && model.user.project != ''){ ?>
    <h4 class="usr-title"><?=model.user.project?></h4>
    <p class="usr-detail" data-i18n="[html]translation:home.profileInfoPanel.project"><span>PROJECT</span></p>
    <? } ?>
    <? if(model.user.account != null && model.user.account != ''){ ?>
    <h4 class="usr-title"><?=model.user.account?></h4>
    <p class="usr-detail"><span data-i18n="[html]translation:home.profileInfoPanel.account">ACCOUNT</span></p>
    <? } ?>
    <!-- <? if(model.user.orgEntryDate != null && model.user.orgEntryDate != ''){ ?>
        <h4 class="usr-title"><?=model.user.orgEntryDate.split(',')[0] + ', ' + model.user.orgEntryDate.split(' ')[2] ?></h4>
        <p class="usr-detail"><span>ENTRY DATE</span></p>
    <? } ?>
    <? if(model.user.birthDate != null && model.user.birthDate != ''){ ?>
        <h4 class="usr-title"><?=model.user.birthDate.split(',')[0] ?></h4>
        <p class="usr-detail"><span>BIRTH DATE</span></p>
    <? } ?> -->
    <hr class="featurette-divider">
    <div id="talentSection"></div>
</div><!-- block-user -->
<? } ?>
<div id="profileImageContainer"></div>
<div id="giveStarPanelFromProfile" class="give-star" style="padding:0"></div>



