<div class="bg-reports-container collapse" id="collapseExample">
    <form class="form-inline filters" role="form">
        <!--date Pickers-->
        <div class="form-group col-md-3">        
            <label data-i18n="[html]translation:reports.filters.from" >From</label>
            <div class="input-group date" id="reportDateFrom" style="width: 160px;">
                <input type="text" class="form-control">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label data-i18n="[html]translation:reports.filters.to" >To</label>
            <div class="input-group date" id="reportDateTo" style="width: 160px;">
                <input type="text" class="form-control">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label data-i18n="[html]translation:reports.filters.locations" >Locations</label>
            <select name="location" id="reportLocation">
                <option value="0" data-i18n="[html]translation:leaderBoardReport.leaderBoardStarType.all" >All</option>
                <? if (model != null) {
                    _.each(model.locations,function(opt, index){?>
                <option value="<?=opt.id?>"><?=opt.name?></option>
                <?});
            } ?>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="star-type" data-i18n="[html]translation:leaderBoardReport.leaderBoardStarType.starType">Star Type</label>
            <select name="star-type" id="reportStarType">
                <option value="0" data-i18n="[html]translation:leaderBoardReport.leaderBoardStarType.all">All</option>
                <? if(model.isTalentModuleEnabled){ ?>
                <option value="-1" data-i18n="[html]translation:leaderBoardReport.leaderBoardStarType.coreStars">Core Stars</option>
                <option value="-2" data-i18n="[html]translation:leaderBoardReport.leaderBoardStarType.skillStars">Skill Stars</option>
                <? } ?>
                <? if (model != null && model.stars != null) {
    				_.each(model.stars,function(opt, index){?>
                <option value="<?=opt.id?>"><?=opt.name?></option>
                <?});
    				}?>
            </select>
        </div>   
    </form><!--form-inline-->

    <div class="col-lg-12 box-addStars-reports" style="height: auto;">                

        <div class="col-lg-12 box-reports">   
            <ul>
                <li>
                    <h4 class="tit-icostar" data-i18n="[html]translation:reports.filters.topLocations">Top Locations</h4>
                    <div class="btn-group edit-group" role="group" aria-label="">
                      <button data-id="locations" type="button" class="btn btn-defaul btn-preview js-preview" data-i18n="[html]translation:reports.buttons.preview">Preview</button>
                      <button data-id="locations" type="button" class="btn btn-defaul btn-preview js-export" data-i18n="[html]translation:reports.buttons.export">Export</button>
                    </div>
                    <p id="locationsValidation" class="text-danger alert alert-danger" style="display:none;"><?= $.t("reports.messages.locationsFilterAsAll") ?></p>
                </li>
                <li>
                    <h4 class="tit-icostar" data-i18n="[html]translation:reports.filters.topSenders">Top Senders</h4>
                    <div class="btn-group edit-group" role="group" aria-label="">
                      <button data-id="senders" type="button" class="btn btn-defaul btn-preview js-preview" data-i18n="[html]translation:reports.buttons.preview">Preview</button>
                      <button data-id="senders" type="button" class="btn btn-defaul btn-preview js-export" data-i18n="[html]translation:reports.buttons.export">Export</button>
                    </div>
                </li>
                <li>
                    <h4 class="tit-icostar" data-i18n="[html]translation:reports.filters.topReceivers">Top Receivers</h4>
                    <div class="btn-group edit-group" role="group" aria-label="">
                      <button data-id="receivers" type="button" class="btn btn-defaul btn-preview js-preview" data-i18n="[html]translation:reports.buttons.preview">Preview</button>
                      <button data-id="receivers"type="button" class="btn btn-defaul btn-preview js-export" data-i18n="[html]translation:reports.buttons.export">Export</button>
                    </div>
                </li>
                <li>                
                    <h4 class="tit-icostar" data-i18n="[html]translation:reports.filters.topStars">Top Stars</h4>
                    <div class="btn-group edit-group" role="group" aria-label="">
                      <button data-id="stars" type="button" class="btn btn-defaul btn-preview js-preview" data-i18n="[html]translation:reports.buttons.preview">Preview</button>
                      <button data-id="stars" type="button" class="btn btn-defaul btn-preview js-export" data-i18n="[html]translation:reports.buttons.export">Export</button>
                    </div>
                    <p id="topStarsValidation" class="text-danger alert alert-danger" style="display:none;"><?= $.t("reports.messages.starTypeFilterAsAll") ?></p>
                </li>
                <li>                
                    <h4 class="tit-icostar" data-i18n="[html]translation:reports.filters.allStars">All Stars</h4>
                    <div class="btn-group edit-group" role="group" aria-label="">                         
                      <button data-id="allstars" type="button" class="btn btn-defaul btn-preview js-export" data-i18n="[html]translation:reports.buttons.export">Export</button>
                    </div>
                </li>                   
            </ul>
        </div>    
    </div><!-- col-lg-12 -->
</div><!--bg-reports-container-->
<div id="reportMessagesModal" class="give-star category-star" style="padding:0"></div>
