<div class="col-lg-12">
<div class=" col-lg-5 form-group typeahead-search">
	<input id="searchUsers" type="text" name="userTo" autocomplete="off" data-provide="typeahead" class="form-control" placeholder="<?= $.t('translation:home.giveStarModal.searchForPeople')?>"/>	
</div>	
<?if (model.currentUserIsSuperAdmin) {?>
<div class="col-lg-5 col-lg-offset-2 form-group super-admin">		
	<label data-i18n="[html]translation:rolesAdministration.organization.org" >Organization</label>
    <select name="organization" id="filterOrganizations">
        <option value="0" data-i18n="[html]translation:rolesAdministration.organization.all" >All</option>
        <? if (model.availableOrganizations) {
            _.each(model.availableOrganizations,function(opt, index){?>
        <option value="<?=opt.id?>"><?=opt.name?></option>
        <?});
    	}?>
    </select>
</div>
<?}?>
</div>
<div class="col-lg-5">		
	<article class="users">
		<div class="header">
			<h3 data-i18n="[html]translation:rolesAdministration.userSection">Users Selected</h3>
		</div>		
		<?if (model.selectedUsers) {?>	
		<div class="content">		
			<ul>
			<?_.each(model.selectedUsers, function(user){?>			
				<li style="list-style: none;">					
					<a><?=user.firstName?> <?=user.lastName?></a>
					<a href="#" class="quit js-removeUser" data-id="<?=user.id?>">x</a>
				</li>				
			<?})?>
			</ul>
		</div>		
		<?}?>		
	</article>	
</div><!--col-lg-4-->
<div class="col-lg-7">
	<article class="roles">
		<div class="header">
			<h3 data-i18n="[html]translation:rolesAdministration.roleSection.title">Permissons</h3>
		</div>		
		<?if(model.availableRoles){?>
		<div class="content">			
			<article class="col-lg-12">
				<div class="checks">									
					<?_.each(model.availableRoles, function(role){?>
						<label>
							<input type="checkbox" value="<?=role.id?>" name="roles"><span><?=role.role?></span>
						</label>
					<?});?>					
				</div>				
			</article>			
		</div>
		<?}?>	
	</article>			
</div>
<div class="col-lg-5">
	<span id="errorMsg" class="alert-danger" style="display:none"></span>
</div>
<div class="col-lg-7">
	<div class="save-button">
		<a id="saveRoles" title="Save Roles" href="#" data-i18n="[html]translation:rolesAdministration.saveRole">Save Permissions</a>
	</div>
</div>
<div id="removeRoleModal"></div>