<?	var paddingLeft = 0;
	if(model.level != null){
		paddingLeft = 30 * (model.level - 1)+7; 
	}
	var style = 'padding:5px 5px 5px ' + paddingLeft + 'px;';
?>
<div class="form-group" style="<?=style?>">
	<label id="" class="control-label" style="font-weight:normal"><a class="media-left pic-small" href="#"><img id="" class="img-circle" alt="" src="<?=model.image?>"></a>
	<div class="media-body name-comment"><p><span style=""> <?=model.name?></span><span id="" ><?=model.path?></span></p>
	</div></label>
</div>