<style>
.skillsButton {
  padding: 6px 8px;
  font-size: 13px;
  cursor: default;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #f2f2f2;
  max-width:150px;
}
</style>
<diV class="skills" style="padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
	<? if(model.fullEditionMode){ ?>
		<div class="giveSkillStar">
			<h4 style="padding-bottom: 15px;"><i class="icon"><img src="assets/content/starmeup/img/generic-skill-star.jpg" class="img-circle" style="width: 45px;height: 45px; cursor: pointer;" id="backToCore" ></i><span style=""> Choose a Talent</span></h4>      
			<div id="skillToAddContainer" class="typeahead-search-skills" style="height:250px;">
				<input id="skillToAdd" type="text" name="userTo" autocomplete="off" data-provide="typeahead" class="form-control" placeholder="Search for skills" data-i18n="[placeholder]translation:home.giveStarModal.searchForSkills"/>
			</div>
		</div>
	<? } ?>
	<div id="talentsDetails">
		<ul class="etiquetas" style="width:100%; padding-top: 0px; margin-top: 0px; ">	
			<? _.each(model.skills, function(skill){?>		
				<li>
					<div class="skillsButton btn truncate" data-id="<?=skill.id?>" title="<?=skill.name?>">
						<? if(skill.isNew == null || !skill.isNew){ ?>
							<? if(skill.enabled){ ?>
								<input type="checkbox" checked class="js-checkSkill" style="margin-right: 10px;"/>
							<? }else{ ?>
								<input type="checkbox" class="js-checkSkill" style="margin-right: 10px;"/>
							<? } ?>
						<? }else{ ?>
							<a href="#" class="js-deleteSkill" style="float: left;  padding-right: 15px;  padding-top: 0px;" onclick="return false;" tabindex="-1"><strong>x</strong></a>
						<? } ?>	
						
						<? if(skill.stars){ ?>					
							<span class="badge" style="margin-right:5px"><?=skill.stars?></span>
						<? } ?>
						<?=skill.name?>
					</div>
				</li>     
			<?});?>			
		</ul>
	</div>
	<div>
		<p style="text-align: start;" class="alert-danger hide" id="skillsErrorMessage">You have to select at least one skill.</p>
		<span>
			<input type="checkbox" class="js-checkSelectAll" style="margin-right: 10px;"/>Select All
		</span>
		<button id="acceptChanges" type="submit" class="btn btn-save" >Accept</button>
		<button id="cancelChanges" type="submit" class="btn btn-cancel" >Cancel</button>
	</div>
</diV>