<section class="select-skill">
<h4 style="color : #9A9A9A; padding-bottom: 10px;">Select a new Skill</h4>
	<div class="form-group col-md-12  no-padding">
          <div class="">
			<input id="e2" style="width: 100%;" type="hidden" class="form-control"/> 	  
		</div>
	</div>
</section><!-- give-star -->
<form role="form"> 
  <div class="form-group">
	<label for="message-text" class="control-label">
		<a class="media-left pic-small" href="#">
			<img class="img-circle" src="<?=model.userImage?>" style="width: 32px">
		</a>
		<div class="media-body name-comment">
			<p><strong><?=model.user.firstName?> <?=model.user.lastName?></strong> | <span><?=model.user.job?></span></p>
		</div>
	</label>	
  </div>
</form>