<div class="container-fluid">
    <div class="row">
        <a href="#" id="new" class="btn btn-new js-new-treatment" data-action="new" data-i18n="[html]translation:treatments.buttons.new">New</a>
    </div>
</div>
<div class="container-fluid">
    <table class="table-responsive table" id="dataTable">
        <thead>
            <tr>
                <th data-i18n="[html]translation:treatments.nro">Number</th>
                <th data-i18n="[html]translation:treatments.customerName">CustomerName</th>
                <th data-i18n="[html]translation:treatments.branchName">BranchName</th>
                <th data-i18n="[html]translation:treatments.treatmentDate">BranchName</th>
                <th data-i18n="[html]translation:treatments.certified">Certified</th>
                <th data-i18n="[html]translation:treatments.finished">Finished</th>
            </tr>
        </thead>
        <tbody>
            <?_.each(model.treatments, function(treatment, index){?>
            <tr>
                <td><?=treatment.id?></td>
                <td><?=treatment.customerName?></td>
                <td><?=treatment.branchName?></td>
                <td><?=treatment.treatmentDate?></td>
                <td><?=treatment.certified?></td>
                <td><?=treatment.finished?></td>
            </tr>
            <?});?>
        </tbody>
    </table>
    <table class="table-responsive">
        <tbody>
            <tr>
                <?
                _.each(model.pagesSelector, function(element) {
                    if (element && element > 0) {
                    if (element-1 == model.currentPage) {?>
                        <td><span><strong><a href="#" id="treatment-<?=element-1?>" data-id="<?=element-1?>" class="btn-toolbar btn-group-lg btn-lg js-click-page-treatments"> <?=element?></a></strong></span></td>
                    <?} else {?>
                        <td><span><a href="#" id="treatment-<?=element-1?>" data-id="<?=element-1?>" class="btn-toolbar btn-group-lg btn-lg js-click-page-treatments"> <?=element?></a></span></td>
                    <?}}});?>
            </tr>
        </tbody>
    </table>

</div>