<div class="container-fluid">
    <table class="table-responsive table" id="dataTreatmentProductsTable">
        <thead>
        <tr>
            <th data-i18n="[html]translation:treatments.product.name">Product</th>
            <th data-i18n="[html]translation:treatments.product.quantity">Quantity</th>
            <th data-i18n="[html]translation:treatments.product.unit">Unit</th>
        </tr>
        </thead>
        <tbody>
        <?if (model.treatmentProducts) {
                    _.each(model.treatmentProducts, function(product, index){?>
        <tr class="productsTreatment" data-id="<?=product.id?>" data-qty="<?=product.quantity?>">
            <td><?=product.productName?></td>
            <td><?=product.quantity?></td>
            <td><?=product.unitName?></td>
            <td><a href="#" class="js-delete-treatment-product" data-id="<?=product.id?>"
                   data-i18n="[html]translation:treatments.product.delete">Delete</a></td>
        </tr>
        <?});
                }?>
        <tr>
            <td>
                <select name="products" id="treatmentProductId" class="select-product">
                    <option value="0"></option>
                    <? _.each(model.products,function(product, index){?>
                    <option value="<?=product.id?>"><?=product.name?></option>
                    <?});?>
                </select>
            </td>
            <td>
                <input id="treatmentProductsQty" type="number" placeholder="Quantity" data-i18n="[placeholder]translation:treatments.product.qty">
            </td>
            <td>
                <label id="treatmentProductUnit"></label>
            </td>
            <td><a href="#" class="js-add-treatment-product" data-id="-1"
                   data-i18n="[html]translation:treatments.product.add">Add</a></td>
        </tr>
        </tbody>
    </table>
</div>