<ul>
	<li>
		<input id="firstName" type="text" name="firstName" placeholder="First Name" class="half-input" data-i18n="[placeholder]translation:login.form.trial.firstNamePlaceholder"/> 
		<input id="lastName" type="text" name="lastName" placeholder="Last Name" class="half-input-right" data-i18n="[placeholder]translation:login.form.trial.lastNamePlaceholder"/>
	</li>	
	<li><input id="usernameTrial" type="email" name="username" placeholder="Email Address" class="form control" data-i18n="[placeholder]translation:login.form.emailAddressPlaceholder"/></li>
	<li><input id="passwordTrial" type="password" name="password" placeholder="Password" data-i18n="[placeholder]translation:login.form.passwordPlaceholder"></li>
	<li><div id="loginErrorTrial" class="show-error"></div></li>	
	<li class="loading" style="display:none;">
	    <div class="sk-spinner sk-spinner-double-bounce">
	        <span data-i18n="[html]translation:login.form.loadingInProgressMessage">Loading in progress...</span>
	        <div class="sk-double-bounce1"></div>
	        <div class="sk-double-bounce2"></div>
	    </div>
	</li>
	<li><input id="btn-submit-trial" type="submit" class="btn btn-warning btn-login" value="Try me Now"></li>
	<li><a href="#" id="link-cancelTrial" class="forgot js-cancel" data-i18n="[html]translation:login.form.trial.cancelTrial">Cancel</a></li>
</ul>