<? if (model != null && model.user != null) {?>
<div class="box-settings">
		<div class="row">
		<div class="col-lg-4">
		<div class="pic-user" style="text-align: center;">
			<img id="profileImage" class="img-circle" src="" alt=""/>
		</div><!-- pic-user -->
		<a href="#" data-i18n="[html]translation:profile.changeProfilePicture" class="change-picture">Change Profile Picture</a>
		</div>
		<div class="col-lg-8">
			<h4 class="center" data-i18n="[html]translation:profile.myprofile">My Profile</h4>
			<form class="form-horizontal personal-information">
			  <div class="form-group">
				<label for="" class="col-sm-2 control-label" data-i18n="[html]translation:profile.name">Name</label>
				<div class="col-sm-7">
				  <label for="" class="col-sm-2 control-label label-reply"><?=model.user.firstName + " " + model.user.lastName?></label>
				</div>
			  </div>
			  <?if(model.user.job){?>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label" data-i18n="[html]translation:profile.role">Role</label>				
				<div class="col-sm-7">
				  <label for="" class="col-sm-2 control-label label-reply"><?=model.user.job?></label>
				</div>
			  </div>
			  <?}?>
			  <?if(model.user.office){?>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label" data-i18n="[html]translation:profile.location">Location</label>
				<div class="col-sm-7">
				  <label for="" class="col-sm-2 control-label label-reply"><?=model.user.office.name?></label>
				</div>
			  </div>
			  <?}
			  if(model.user.email){?>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label" data-i18n="[html]translation:profile.email">Email</label>
				<div class="col-sm-7">
				  <label for="" class="col-sm-2 control-label label-reply"><?= model.user.email?></label>
				</div>
			  </div>
			  <?}
			  if(model.user.phoneNumber){?>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label" data-i18n="[html]translation:profile.officePhone">Office Phone</label>
				<div class="col-sm-7">
				  <label for="" class="col-sm-2 control-label label-reply"><?= model.user.phoneNumber?></label>
				</div>
			  </div>
			  <?}
			  if(model.user.area){?>			
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label" data-i18n="[html]translation:profile.area">Area</label>
				<div class="col-sm-7">
				  <label for="" class="col-sm-2 control-label label-reply"><?=model.user.area?></label>
				</div>
			  </div>
			  <?}
			  if(model.user.project){?>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label" data-i18n="[html]translation:profile.project">Project</label>
				<div class="col-sm-7">
				  <label for="" class="col-sm-2 control-label label-reply"><?=model.user.project?></label>
				</div>
			  </div>
			  <?}
			  if(model.user.account){?>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label" data-i18n="[html]translation:profile.account">Account</label>
				<div class="col-sm-7">
				  <label for="" class="col-sm-2 control-label label-reply"><?=model.user.account?></label>
				</div>
			  </div>
			  <?}?>
			  <!-- <div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label">Entry Date</label>
				<div class="col-sm-7">
				  <label for="" class="col-sm-2 control-label label-reply"><?= model.user.orgEntryDate ? model.user.orgEntryDate.split(',')[0] + ', ' + model.user.orgEntryDate.split(' ')[2] : "N/A" ?></label>
				</div>
			  </div>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label">Birth Date</label>
				<div class="col-sm-7">
				  <label for="" class="col-sm-2 control-label label-reply"><?= model.user.birthDate ? model.user.birthDate.split(',')[0] : "N/A" ?></label>
				</div>
			  </div> -->			  
			</form>		
			<? if(isTalentModuleEnabled){ ?>
				<ul class="resume">
					<li><h4 data-i18n="[html]translation:profile.resume">Resume</h4></li> 
					<li> 
						<div class="fileinput-button">
							<a href="#" class="" data-i18n="[html]translation:profile.uploadYourCV" >Upload your CV</a>
							<input id="innerfileupload" type="file" >
					    </div>
						<span data-i18n="[html]translation:profile.onlyPDFDocFiles" >only unprotected pdf and .doc files</span>
						<span id="importCVResult"></span>
					</li>
				</ul>
				<!-- resume -->
				<ul class="resume hide">
					<li><h4 data-i18n="[html]translation:profile.skills">Skills</h4></li>
					<li style="max-width: 85%;">
						<a id="skillsFromLinkedIn" href="#" class="" data-i18n="[html]translation:profile.importSkillFromLinkedin">Import skills from LinkedIn</a>
						<span data-i18n="[html]translation:profile.linkedinSkillsTip" style="max-width: 70%;">Skills that have not been previously imported will be created</span>
						<span id="importLinkedInSkillsResult"></span>
					</li>
				</ul>
			<? } ?>
		
		<h4 class="center" data-i18n="[html]translation:profile.notificantionsBy">Notifications by</h4>
		<form class="form-horizontal personal-information">
			<?if(emailSettings){?>
			<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label" data-i18n="[html]translation:profile.email">Email</label>
					<div class="col-sm-7" style="padding-top: 7px;">
					  	<ul class="onoff" style="list-style-type: none; margin-bottom: 0px; padding-left: 15px;">
							<li>
							<span class="fa fa-envelope"></span>			
							<div class="onoffemail">
								<input type="checkbox" name="onoffemail" class="onoffemail-checkbox" id="emailSwitch" checked data-size="mini">								
							</div><!-- email -->
							</li>
						</ul><!-- onoff -->
					</div>
			</div>
			<?}?>
			 <div class="form-group hide">
					<label for="inputPassword3" class="col-sm-2 control-label">Facebook</label>
					<div class="col-sm-7" style="padding-top: 7px;">
					  	<ul class="onoff" style="list-style-type: none; margin-bottom: 0px; padding-left: 15px;">
							<li class="hide">
							<span class="ico-fb" data-i18n="[html]translation:profile.facebook">Facebook</span>
							<div class="onofffacebook">
								<input type="checkbox" name="onofffacebook" class="onofffacebook-checkbox" id="facebookSwitch" checked data-size="mini">								
							</div><!-- onofffacebook -->
							</li>
						</ul><!-- onoff -->
					</div>
			</div>
			<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label" data-i18n="[html]translation:profile.twitter">Twitter</label>
					<div class="col-sm-7" style="padding-top: 7px;">
					  	<ul class="onoff" style="list-style-type: none; margin-bottom: 0px; padding-left: 15px;">
							<li>
							<span class="ico-tw" data-i18n="[html]translation:profile.twitter">Twitter</span>
							<div class="onofftwitter">
								<input type="checkbox" name="onofftwitter" class="onofftwitter-checkbox" id="twitterSwitch" checked data-size="mini">							
							</div><!-- onofftwitter -->
							</li>
						</ul><!-- onoff -->
					</div>
			</div>			
			<div class="form-group hide">
					<label for="inputPassword3" class="col-sm-2 control-label" data-i18n="[html]translation:profile.linkedin">LinkedIn</label>
					<div class="col-sm-7" style="padding-top: 7px;">
					  	<ul class="onoff" style="list-style-type: none; margin-bottom: 0px; padding-left: 15px;">
							<li>
							<!-- <span class="ico-tw">LinkedIn</span>  -->
							<div class="onofftwitter">
								<input type="checkbox" name="onofftwitter" class="onofftwitter-checkbox" id="linkedInSwitch" checked data-size="mini">							
							</div><!-- onofftwitter -->
							</li>
						</ul><!-- onoff -->
					</div>
			</div>
		</form>
		<h4 class="center" data-i18n="[html]translation:profile.notificantionsMobile">Notifications Mobile</h4>
		<form class="form-horizontal personal-information">
			<div class="form-group">
                    <label class="col-sm-2 control-label" data-i18n="[html]translation:profile.allPushNotifications">When enabled, user will receive push notifications in his phone. If it is disabled, he won't</label>
                    <div class="col-sm-7" style="padding-top: 7px;">
                        <ul class="onoff" style="list-style-type: none; margin-bottom: 0px; padding-left: 15px;">
                            <li>
                            <span class="fa fa-mobile" style="height: 22px;
                                                              width: 22px;
                                                              background-color: #F2F2F2;
                                                              color: #00ACAE;
                                                              display: inline-block;
                                                              float: left;
                                                              margin: 0 4px 0 0;
                                                              padding: 2px 0px 0px 2px;
                                                              font-size: x-large;" ></span>
                            <div class="onofftwitter">
                                <input type="checkbox" name="onoffallpush" class="onofftwitter-checkbox" id="allPushNotificationsSwitch" checked data-size="mini">                           
                            </div><!-- onofftwitter -->
                            </li>
                        </ul><!-- onoff -->
                    </div>
            </div>  
			<div class="form-group">
                    <label class="col-sm-2 control-label" data-i18n="[html]translation:profile.pushNotificationsToLikes">When enabled, user will receive notifications when someone likes a star he has given or received. If it is disabled, he won't</label>
                    <div class="col-sm-7" style="padding-top: 7px;">
                        <ul class="onoff" style="list-style-type: none; margin-bottom: 0px; padding-left: 15px;">
                            <li>
                            <span class="fa fa-mobile" style="height: 22px;
															  width: 22px;
															  background-color: #F2F2F2;
															  color: #00ACAE;
															  display: inline-block;
															  float: left;
															  margin: 0 4px 0 0;
															  padding: 2px 0px 0px 2px;
															  font-size: x-large;" ></span>
                            <div class="onofftwitter">
                                <input type="checkbox" name="onoffallpush" class="onofftwitter-checkbox" id="pushNotificationsToLikesSwitch" checked data-size="mini">                           
                            </div><!-- onofftwitter -->
                            </li>
                        </ul><!-- onoff -->
                    </div>
            </div>  
            <div class="form-group">
                    <label class="col-sm-2 control-label" data-i18n="[html]translation:profile.pushNotificationsToComments">When enabled, user will receive notifications when someone comments a star he has given or received. If it is disabled, he won't</label>
                    <div class="col-sm-7" style="padding-top: 7px;">
                        <ul class="onoff" style="list-style-type: none; margin-bottom: 0px; padding-left: 15px;">
                            <li>
                            <span class="fa fa-mobile" style="height: 22px;
                                                              width: 22px;
                                                              background-color: #F2F2F2;
                                                              color: #00ACAE;
                                                              display: inline-block;
                                                              float: left;
                                                              margin: 0 4px 0 0;
                                                              padding: 2px 0px 0px 2px;
                                                              font-size: x-large;" ></span>
                            <div class="onofftwitter">
                                <input type="checkbox" name="onofftwitter" class="onofftwitter-checkbox" id="pushNotificationsToCommentsSwitch" checked data-size="mini">                           
                            </div><!-- onofftwitter -->
                            </li>
                        </ul><!-- onoff -->
                    </div>
            </div>  
		</form><!-- notifications -->
	</div><!--col lg 8-->
	</div><!--row-->
	<? if (typeLogin != 1) {?>
	<div class="row change-pw-main">					
		<h4  data-i18n="[html]translation:profile.changepassword">change your password</h4>
		<a data-toggle="collapse" href="#collapseChangePwd" aria-expanded="false" aria-controls="collapseExample">
			<i class="fa fa-bars"></i>
		</a>
		<div class="collapse" id="collapseChangePwd">
			<div class="col-lg-6 quote">					
				<p><?=$.t("profile.pwdQuote")?></p>						
			</div>
			<div class="col-lg-6">
				<section class="change-pw">														
					<div class="change-pw-container">
						<form class="form-horizontal">
						  <div class="form-group">							
							<div class="col-sm-10">
							  <input type="password" class="form-control js-input" id="inputCurrentPw" data-i18n="[placeholder]translation:profile.currentpassword" placeholder="Current password" data-id="currentPw">
							</div>
						  </div>
						  <div class="form-group">							
							<div class="col-sm-10">
							  <input type="password" class="form-control js-input" id="inputNewPw" data-i18n="[placeholder]translation:profile.newpassword" placeholder="New password" data-id="newPw">
							</div>
						  </div>
						  <div class="form-group">							
							<div class="col-sm-10">
							  <input type="password" class="form-control js-input" id="inputRepeatPw" data-i18n="[placeholder]translation:profile.repeatnewpassword" placeholder="Repeat password" data-id="repeatPw">
							</div>
						  </div>
						  <div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
							  <button id="acceptChange" type="submit" class="btn btn-default" data-i18n="[html]translation:profile.accept">Accept</button>
							</div>
						  </div>
						</form>
					</div><!--change pw container-->
				</section><!--change pw-->				
			</div><!--col lg 6-->			
		</div><!--collapse-->	
	</div><!-- row -->	
	<?}?>
	<!-- Implementation Postponed <? if(isTalentModuleEnabled){ ?>
		<div class="row change-pw-main">					
			<h4>Manage your Skills</h4>
			<a data-toggle="collapse" href="#collapseChangeSkills" aria-expanded="false" aria-controls="collapseExample">
				<i class="fa fa-bars"></i>
			</a>
			<div class="collapse" id="collapseChangeSkills">
							
			</div>	
		</div>	
	<? } ?> -->
		
</div><!-- box-settings -->
<? } ?>
<div id="profileImageContainerUserSettings"></div>
<div id="userSettingsMessagesModal" class="give-star category-star" style="padding:0"></div>