<div class="modal fade message-app" id="webClose-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		
	  </div>
	  <div class="modal-body">
		<section class="notify-close">
		<div class="col-lg-12 text">
			<h3 class="title" data-i18n="[html]translation:home.webCloseModal.title">
			<i class="fa fa-exclamation-circle fa-1x"></i> News!</h3>
			<p data-i18n="[html]translation:home.webCloseModal.body">Shine Anywhere! Take StarMeUp with you!
			What are you waiting to download the mobile version? </p>

		</div>		
		<div class="links">
			<a href="https://play.google.com/store/apps/details?id=com.globant.starmeup" title="">
			<img style="" src="assets/content/starmeup/img/btn-download-googleplay.png" alt="">
			</a>
			<a href="https://itunes.apple.com/us/app/starmeup/id973506772" title="">
				<img style="" src="assets/content/starmeup/img/btn-download-app.png" alt="">
			</a>
		</div>
		<div class="col-lg-12 text" data-i18n="[html]translation:home.webCloseModal.footer">
		<p>Heads up! 
			We want to encourage the use of the mobile app to make it available wherever you are. 
			<span class="important">So as from <span class="bold">July 1st</span>, the web version of StarMeUp will <span class="bold">no longer be available.</span></span></p>
		</div>
		</section>
	  </div> 
	</div>
  </div>
</div><!-- select-message-app -->